// ========================================================
// Dependencies
// ========================================================
@use 'sass:color';
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-radii-vars.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-sb-component-preview {
    background-color: var(--bankai-semantic-color-canvas-alt, bankai-get-light-theme-map-value('semantic-color-canvas-alt'));
    border: 1px solid var(--bankai-semantic-color-decorative-border, bankai-get-light-theme-map-value('semantic-color-decorative-border'));
    border-radius: bankai-to-px($bankai-core-radius-01-x);
    box-sizing: border-box;
    padding: bankai-to-rem($bankai-core-spacing-04-x) ;
}
