// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-radii-vars.scss' as radii-vars;

.bankai-sb-component-preview-with-code-block {
    border: 1px solid var(--bankai-semantic-color-decorative-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-decorative-border'));
    border-radius: unit-conversion-utils.bankai-to-px(radii-vars.$bankai-core-radius-02-x);

    .bankai-sb-component-preview {
        border: none;
        border-radius: unit-conversion-utils.bankai-to-px(radii-vars.$bankai-core-radius-02-x - 1px) unit-conversion-utils.bankai-to-px(radii-vars.$bankai-core-radius-02-x - 1px) 0 0;
    }

    .bankai-sb-code-block__syntax-highlighter {
        box-shadow: none;
        border-radius: 0 0 unit-conversion-utils.bankai-to-px(radii-vars.$bankai-core-radius-02-x - 1px) unit-conversion-utils.bankai-to-px(radii-vars.$bankai-core-radius-02-x - 1px);
    }

    .bankai-sb-component-preview,
    .bankai-sb-code-block__syntax-highlighter {
        width: 100%;
        box-sizing: border-box;
    }
}
