@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-radii-vars.scss' as radii-vars;

.bankai-sb-loading-skeleton {
    .bankai-loading-skeleton {
        width: 320px;
        height: 150px;
        border-radius: unit-conversion-utils.bankai-to-px(radii-vars.$bankai-core-radius-04-x);
    }
}