// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-scales-vars.scss' as scales-vars;

.bankai-sb-banner-and-example-composer {
    border: 1px solid var(--bankai-semantic-color-decorative-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-decorative-border'));
    border-radius: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-01-x);

    .bankai-banner {
        border-radius: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-01-x - 1) unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-01-x - 1) 0 0;
    }

    .bankai-banner__icon {
        font-size: unit-conversion-utils.bankai-to-rem(scales-vars.$bankai-core-system-scale * 6);
    }

    .bankai-sb-component-preview {
        border: none;
        border-top: 1px solid var(--bankai-semantic-color-decorative-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-decorative-border'));
        border-radius: 0 0 unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-01-x - 1) unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-01-x - 1);
    }

    + * {
        margin-top: unit-conversion-utils.bankai-to-rem(scales-vars.$bankai-core-system-scale * 6);
    }

    @at-root * + & {
        margin-top: unit-conversion-utils.bankai-to-rem(scales-vars.$bankai-core-system-scale * 6);
    }
}