// ================================================================
// Dependencies
// ================================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/resets.scss';

.bankai-sb-color-variants-list {
    $this: &;

    &__inner {
        @include resets.bankai-list-reset;
        @include layout.bankai-flex-row;
        max-width: 555px;
        flex-wrap: wrap;
    }

    &__item {
        width: 185px;
    }

    &--scrollable {
        #{$this}__inner {
            @include layout.bankai-scroll-y;
            max-height: 443px;
        }
    }

    .bankai-sb-color-swatch {
        min-height: 100%;
    }
}