// ================================================================
// Dependencies
// ================================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-color-swatch__meta-list-item {
    $this: &;
    
    &--contrast-ratio {
        text-align: right;

        @at-root * + & {
            margin-top: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-02-x);
        }
    }
}
