// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-button-guidelines__btn-hierarchy-inline-ex {
    .bankai-sb-component-preview {
        @include layout.bankai-flex-row;
        // justify-content: center;

        .bankai-button {
            width: 8rem;
        }
    }
}

.bankai-sb-button-guidelines__btn-hierarchy-stacked-ex {
    .bankai-sb-component-preview {
        @include layout.bankai-flex-column;
        // align-items: center;

        .bankai-button {
            width: 16.8rem;
            max-width: 100%;
        }
    }
}

.bankai-sb-button-guidelines__btn-hierarchy-inline-ex .bankai-sb-component-preview,
.bankai-sb-button-guidelines__btn-hierarchy-stacked-ex .bankai-sb-component-preview {
    gap: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-02-x);
}