{
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "@epr0t0type/eslint-config/src/reactLintConfig",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        },
        "requireConfigFile": false
    },
    "plugins": [
        "jest"
    ]
}
