{
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "@driponfleek/eslint-config/src/reactLintConfig",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "requireConfigFile": false
    },
    "plugins": [
        "jest"
    ]
}
