{
    "env": {
        "browser": true,
        "node": true,
        "jest/globals": true
    },
    "extends": [
        "@epr0t0type/eslint-config/src/reactLintConfig",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "jest"
    ]
}
