// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-callout-banner, %bankai-callout-banner {
    color: var(--bankai-callout-banner-text-color, bankai-light-theme('callout-banner-text-color'));
    background-color: var(--bankai-callout-banner-bg-color, bankai-light-theme('callout-banner-bg-color'));
    box-sizing: border-box;
    border-radius: var(--bankai-callout-banner-border-radius, bankai-light-theme('callout-banner-border-radius'));
    $this: '.bankai-callout-banner';

    &__inner {
        @include bankai-flex-row;
        box-sizing: border-box;
    }

    &__icon-container {
        min-width: 1.25em;
        text-align: center;
        flex: 0 0 auto;
    }

    &__text-container {
        flex: 1 1 auto;
        margin: auto 0;
    }

    &__icon-container,
    &__text-container {
        box-sizing: border-box;
        padding: #{bankai-to-rem(bankai-light-theme('core-system-scale') * 3)};
    }

    &__icon-container + &__text-container {
        padding-left: 0;
    }

    &__icon {
        color: var(--bankai-callout-banner-icon-color, bankai-light-theme('callout-banner-icon-color'));
        font-size: 1.25em;
        display: block;
        margin: 0 auto;
    }

    &__msg-container {
        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    #{$this}__title {
        @include bankai-h5;
        font-size: var(--bankai-core-typography-font-size, bankai-light-theme('core-typography-font-size'));
        font-weight: bold;
        margin: 0;
    }

    &__title,
    &__msg {
        @include bankai-max-line-width;
        line-height: var(--bankai-core-typography-line-height, bankai-light-theme('core-typography-line-height'));
        display: block;
    }

    // Mods
    &--affirmative {
        color: var(--bankai-callout-banner-affirmative-text-color, bankai-light-theme('callout-banner-affirmative-text-color'));
        background-color: var(--bankai-callout-banner-affirmative-bg-color, bankai-light-theme('callout-banner-affirmative-bg-color'));

        .bankai-hyperlink,
        .bankai-link-button {
            color: var(--bankai-callout-banner-affirmative-text-color, bankai-light-theme('callout-banner-affirmative-text-color'));
        }

        .bankai-hyperlink,
        .bankai-link-button__text {
            text-decoration: underline;
        }
    }

    &--affirmative &__icon {
        color: var(--bankai-callout-banner-affirmative-icon-color, bankai-light-theme('callout-banner-affirmative-icon-color'));
    }

    &--cautionary {
        color: var(--bankai-callout-banner-cautionary-text-color, bankai-light-theme('callout-banner-cautionary-text-color'));
        background-color: var(--bankai-callout-banner-cautionary-bg-color, bankai-light-theme('callout-banner-cautionary-bg-color'));

        .bankai-hyperlink,
        .bankai-link-button {
            color: var(--bankai-callout-banner-cautionary-text-color, bankai-light-theme('callout-banner-cautionary-text-color'));
        }

        .bankai-hyperlink,
        .bankai-link-button__text {
            text-decoration: underline;
        }
    }

    &--cautionary &__icon {
        color: var(--bankai-callout-banner-cautionary-icon-color, bankai-light-theme('callout-banner-cautionary-icon-color'));
    }

    &--error {
        color: var(--bankai-callout-banner-error-text-color, bankai-light-theme('callout-banner-error-text-color'));
        background-color: var(--bankai-callout-banner-error-bg-color, bankai-light-theme('callout-banner-error-bg-color'));

        .bankai-hyperlink,
        .bankai-link-button {
            color: var(--bankai-callout-banner-error-text-color, bankai-light-theme('callout-banner-error-text-color'));
        }

        .bankai-hyperlink,
        .bankai-link-button__text {
            text-decoration: underline;
        }
    }

    &--error &__icon {
        color: var(--bankai-callout-banner-error-icon-color, bankai-light-theme('callout-banner-error-icon-color'));
    }

    &--info {
        color: var(--bankai-callout-banner-info-text-color, bankai-light-theme('callout-banner-info-text-color'));
        background-color: var(--bankai-callout-banner-info-bg-color, bankai-light-theme('callout-banner-info-bg-color'));

        .bankai-hyperlink,
        .bankai-link-button {
            color: var(--bankai-callout-banner-info-text-color, bankai-light-theme('callout-banner-info-text-color'));
        }

        .bankai-hyperlink,
        .bankai-link-button__text {
            text-decoration: underline;
        }
    }

    &--info &__icon {
        color: var(--bankai-callout-banner-info-icon-color, bankai-light-theme('callout-banner-info-icon-color'));
    }
}
