// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-scales-vars.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-callout, %bankai-callout {
    box-sizing: border-box;
    text-align: center;
    $this: '.bankai-callout';

    &__icon {
        color: var(--bankai-callout-icon-color, bankai-get-light-theme-map-value('callout-icon-color'));
        margin: 0 auto;
    }

    &__icon-container {
        line-height: 0;
        font-size: 8rem;
    }

    #{$this}__title {
        color: var(--bankai-semantic-color-text, bankai-get-light-theme-map-value('semantic-color-text'));
    }

    &__msg {
        color: var(--bankai-semantic-color-text-alt, bankai-get-light-theme-map-value('semantic-color-text-alt'));
        line-height: var(--bankai-semantic-typography-line-height, bankai-get-light-theme-map-value('semantic-typography-line-height'));
        margin: 0;
    }

    &__title,
    &__msg {
        @include bankai-max-line-width;
        display: block;
        margin: 0 auto;
    }

    &__title-container,
    &__msg-container {
        margin: 0 auto;
    }

    &__title-container + &__msg-container {
        margin-top: #{bankai-to-rem($bankai-core-spacing-01-x)};
    }

    &__icon-container + &__text-container {
        margin-top: #{bankai-to-rem($bankai-core-spacing-02-x)};
    }

    &--affirmative {
        #{$this}__icon {
            color: var(--bankai-callout-affirmative-icon-color, bankai-get-light-theme-map-value('callout-affirmative-icon-color'));
        }
    }

    &--cautionary {
        #{$this}__icon {
            color: var(--bankai-callout-cautionary-icon-color, bankai-get-light-theme-map-value('callout-cautionary-icon-color'));
        }
    }

    &--danger {
        #{$this}__icon {
            color: var(--bankai-callout-danger-icon-color, bankai-get-light-theme-map-value('callout-danger-icon-color'));
        }
    }

    &--info {
        #{$this}__icon {
            color: var(--bankai-callout-info-icon-color, bankai-get-light-theme-map-value('callout-info-icon-color'));
        }
    }
}
