// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-callout-memo, %bankai-callout-memo {
    color: var(--bankai-color-callout-memo-text, bankai-light-theme('color-callout-memo-text'));
    background-color: var(--bankai-color-callout-memo-bg, bankai-light-theme('color-callout-memo-bg'));
    box-sizing: border-box;
    border-radius: var(--bankai-callout-memo-border-radius, bankai-light-theme('callout-memo-border-radius'));

    &__inner {
        @include bankai-flex-row;
        box-sizing: border-box;
    }

    &__icon-container {
        min-width: 1.25em;
        text-align: center;
        flex: 0 0 auto;
    }

    &__text-container {
        flex: 1 1 auto;
        margin: auto 0;
    }

    &__icon-container,
    &__text-container {
        box-sizing: border-box;
        padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 3)};
    }

    &__icon-container + &__text-container {
        padding-left: 0;
    }

    &__icon {
        color: var(--bankai-color-callout-memo-icon, bankai-light-theme('color-callout-memo-icon'));
        font-size: 1.25em;
        display: block;
        margin: 0 auto;
    }

    &__msg-container {
        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        @include bankai-h5;
        font-size: var(--bankai-typography-size-base, bankai-light-theme('typography-size-base'));
        font-weight: bold;
        margin: 0;
    }

    &__title,
    &__msg {
        @include bankai-max-line-width;
        line-height: var(--bankai-typography-line-height, bankai-light-theme('typography-line-height'));
        display: block;
    }

    // Mods
    &--affirmative {
        color: var(--bankai-color-callout-memo-affirmative-text, bankai-light-theme('color-callout-memo-affirmative-text'));
        background-color: var(--bankai-color-callout-memo-affirmative-bg, bankai-light-theme('color-callout-memo-affirmative-bg'));
    }

    &--affirmative &__icon {
        color: var(--bankai-color-callout-memo-affirmative-icon, bankai-light-theme('color-callout-memo-affirmative-icon'));
    }

    &--cautionary {
        color: var(--bankai-color-callout-memo-cautionary-text, bankai-light-theme('color-callout-memo-cautionary-text'));
        background-color: var(--bankai-color-callout-memo-cautionary-bg, bankai-light-theme('color-callout-memo-cautionary-bg'));
    }

    &--cautionary &__icon {
        color: var(--bankai-color-callout-memo-cautionary-icon, bankai-light-theme('color-callout-memo-cautionary-icon'));
    }

    &--error {
        color: var(--bankai-color-callout-memo-error-text, bankai-light-theme('color-callout-memo-error-text'));
        background-color: var(--bankai-color-callout-memo-error-bg, bankai-light-theme('color-callout-memo-error-bg'));
    }

    &--error &__icon {
        color: var(--bankai-color-callout-memo-error-icon, bankai-light-theme('color-callout-memo-error-icon'));
    }

    &--info {
        color: var(--bankai-color-callout-memo-info-text, bankai-light-theme('color-callout-memo-info-text'));
        background-color: var(--bankai-color-callout-memo-info-bg, bankai-light-theme('color-callout-memo-info-bg'));
    }

    &--info &__icon {
        color: var(--bankai-color-callout-memo-info-icon, bankai-light-theme('color-callout-memo-info-icon'));
    }
}
