// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-callout, %bankai-callout {
    box-sizing: border-box;
    text-align: center;
    padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 8)};

    &__icon {
        color: var(--bankai-color-callout-icon, bankai-light-theme('color-callout-icon'));
        margin: 0 auto;
    }

    &__icon-container {
        line-height: 0;
        font-size: 8rem;
    }

    &__title {
        color: var(--bankai-color-text, bankai-light-theme('color-text'));
    }

    &__msg {
        color: var(--bankai-color-text-alt, bankai-light-theme('color-text-alt'));
        line-height: var(--bankai-typography-line-height, bankai-light-theme('typography-line-height'));
        margin: 0;
    }

    &__title,
    &__msg {
        @include bankai-max-line-width;
        display: block;
        margin: 0 auto;
    }

    &__title-container,
    &__msg-container {
        margin: 0 auto;
    }

    &__title-container + &__msg-container {
        margin-top: #{bankai-to-px(bankai-light-theme('layout-grid-base'))};
    }

    &__icon-container + &__text-container {
        margin-top: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 4)};
    }
}
