// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-state-vars.scss' as state-vars;

@mixin bankai-form-input-disabled($has-placeholder: true) {
    background-color: var(--bankai-form-input-disabled-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-disabled-bg-color'));
    opacity: var(--bankai-semantic-state-disabled-opacity, state-vars.$bankai-core-state-disabled-opacity);

    @if $has-placeholder {
        &::placeholder {
            color: var(--bankai-form-input-disabled-placeholder-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-disabled-placeholder-text-color'));
        }
    }
}

@mixin bankai-form-input-error($has-placeholder: true) {
    background-color: var(--bankai-form-input-error-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-bg-color'));
    border-color: var(--bankai-form-input-error-border-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-border-color'));

    @if $has-placeholder {
        &::placeholder {
            color: var(--bankai-form-input-error-placeholder-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-placeholder-text-color'));
        }
    }

    &:focus {
        @include states.bankai-focus-state-inner-outer-box-shadow(var(--bankai-form-input-error-focus-halo-inner-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-focus-halo-inner-color')), var(--bankai-form-input-error-focus-halo-outer-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-focus-halo-outer-color')));
    }
}
