// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-scales-vars.scss';
@import './mixins.scss';

.bankai-checkbox, %bankai-checkbox {
    border-radius: var(--bankai-form-checkbox-border-radius, bankai-get-light-theme-map-value('form-checkbox-border-radius'));
    $this: '.bankai-checkbox';

    .bankai-universal-toggle-input {
        &__container {
            border-radius: var(--bankai-form-checkbox-border-radius, bankai-get-light-theme-map-value('form-checkbox-border-radius'));
        }
    
        &__icon {
            font-size: 20px;
            margin-top: 50%;
            margin-left: 50%;
            transform: translate3d(-50%, -50%, 0);
            position: absolute;
            z-index: 2;
        }
    }

    &.bankai-universal-toggle-input--checked {
        .bankai-universal-toggle-input__container,
        .bankai-universal-toggle-input__input:disabled + .bankai-universal-toggle-input__container {
            color: var(--bankai-form-input-bg-color, bankai-get-light-theme-map-value('form-input-bg-color'));
            border-color: var(--bankai-form-checked-accent-color, bankai-get-light-theme-map-value('form-checked-accent-color'));
        }
    }
}
