// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './mixins.scss';

.bankai-color-picker-input {
    @include bankai-inline-flex-row;
    position: relative;
    $bankai-form-border-style: 1px solid var(--bankai-color-universal-border, bankai-light-theme('color-universal-border'));
    $bankai-form-border-radius: var(--bankai-form-input-border-radius, bankai-light-theme('form-input-border-radius'));
    $this: '.bankai-color-picker-input';

    &__input-container {
        min-width: 1px;
        flex: 1 1 auto;
    }

    .bankai-text-input {
        width: 100%;
        min-width: 5.5em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }

    &__trigger-container {
        width: 35px;
        box-sizing: border-box;
        flex: 0 0 auto;
    }

    &__trigger {
        @include bankai-button-reset;
        @include bankai-focus-state-halo;
        @include bankai-hover-state;
        @include bankai-disabled-state;
        display: block;
        width: 100%;
        height: 100%;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==') left center;
        border: $bankai-form-border-style;
        border-right: $bankai-form-border-style;
        border-bottom: $bankai-form-border-style;
        border-radius: 0 $bankai-form-border-radius $bankai-form-border-radius 0;
        overflow: hidden;
        position: relative;
    }

    &__trigger-swatch {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .bankai-color-picker {
        @include bankai-box-shadow-elevated;
    }

    &__picker-container {
        position: absolute;
        top: calc(100% + 3px);
        z-index: 2;
    }

    &--should-open-up {
        #{$this}__picker-container {
            top: initial;
            bottom: calc(100% + 3px);
        }
    }

    &--should-align-picker-to-right-edge {
        #{$this}__picker-container {
            right: 0;
        }
    }

    &--has-error {
        #{$this}__trigger {
            border-color: var(--bankai-color-form-input-error-border, bankai-light-theme('color-form-input-error-border'));
        }
    }
}
