// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-fieldset, %bankai-fieldset {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;

    &__legend {
        @include typography.bankai-h5;
    }

    &__legend + * {
        margin-top: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-03-x);
    }

    &__content-container {
        box-sizing: border-box;
    }

    &--indent &__content-container {
        padding-left: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-04-x);
    }
}
