// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-fieldset, %bankai-fieldset {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;

    &__legend {
        @include bankai-h5;
    }

    &__legend + * {
        margin-top: bankai-to-rem($bankai-core-spacing-03-x);
    }

    &__content-container {
        box-sizing: border-box;
    }

    &--indent &__content-container {
        padding-left: bankai-to-rem($bankai-core-spacing-04-x);
    }
}
