// ========================================================
// Dependencies
// ========================================================
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/vars/typography.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/vars/general.scss';

.bankai-form-field-composer, %bankai-form-field-composer {
    display: inline-block;
    $bankai-form-label-control-space: 2px;
    $this: &;

    .bankai-form-control-hint {
        margin-left: auto;
    }

    &--is-stacked {
        .bankai-form-field-composer__label-container + .bankai-form-field-composer__control-container {
            margin-top: $bankai-form-label-control-space;
        }

        .bankai-form-field-composer__control-container + .bankai-form-field-composer__hints-container--is-displaying-hint {
            margin-top: $bankai-form-label-control-space;
        }
    }

    &--is-inline-left {
        .bankai-form-field-composer__inner {
            @include bankai-flex-row;
        }

        .bankai-form-field-composer__label-container {
            @include bankai-flex-row;
            text-align: right;
        }

        .bankai-form-label {
            margin: auto 0;
        }

        .bankai-form-field-composer__label-container + .bankai-form-field-composer__control-hint-container {
            margin-left: 10px;
        }
    }

    &--is-inline-right {
        .bankai-form-field-composer__inner {
            @include bankai-flex-row;
        }

        .bankai-form-field-composer__label-container {
            @include bankai-flex-row;
        }

        .bankai-form-label {
            margin: auto 0;
        }

        .bankai-form-field-composer__control-hint-container + .bankai-form-field-composer__label-container {
            margin-left: 10px;
        }
    }

    &--is-toggle {
        // stylelint-disable-next-line no-descending-specificity
        .bankai-form-field-composer__control-hint-container {
            @include bankai-flex-row;
        }

        .bankai-form-field-composer__control-container + .bankai-form-field-composer__label-container {
            margin-left: 10px;
        }

        .bankai-form-control-hint {
            text-align: left;
        }

        .bankai-form-field-composer__control-hint-container + .bankai-form-field-composer__hints-container {
            margin-top: v$bankai-form-label-control-space;
        }
    }

    &--is-disabled,
    fieldset:disabled & {
        #{$this}__label-container,
        #{$this}__hints-container {
            opacity: $bankai-disabled-opacity;
        }
    }
}
