// ========================================================
// Dependencies
// ========================================================
// @import '@epr0t0type/bankai-lib-style-utils/src/styles/vars/typography.scss';
@import '@epr0t0type/bankai-lib-style-utils/src/styles/mixins/typography.scss';
@import '@epr0t0type/bankai-lib-theme-utils/src/styles/vars/colors.scss';

.bankai-form-control-hint {
    @include bankai-max-line-width();
    color: var(--bankai-text-color-alt, $bankai-text-color-alt);
    font-size: var(--bankai-sub-text-size);
    font-style: italic;
    text-align: right;
    display: block;
}
