// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-form-control-hint, %bankai-form-control-hint {
    @include bankai-max-line-width;
    color: var(--bankai-core-color-text-alt, bankai-light-theme('core-color-text-alt'));
    font-size: var(--bankai-core-typography-sub-text-font-size, bankai-light-theme('core-typography-sub-text-font-size'));
    font-style: italic;
    text-align: right;
    display: block;
}
