// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-state-vars.scss';

.bankai-form-field-composer, %bankai-form-field-composer {
    // display: inline-block;
    $this: '.bankai-form-field-composer';

    .bankai-form-label {
        display: block;
    }

    &--stacked {
        #{$this}__label-container + #{$this}__control-container,
        #{$this}__control-container + #{$this}__hints-container--displaying-hint {
            margin-top: bankai-to-rem($bankai-core-spacing-half-x);
        }

        * + #{$this}__hints-container {
            margin-top: bankai-to-rem($bankai-core-spacing-01-x);
        }
    }

    &--stacked-hint-top {
        #{$this}__label-container + #{$this}__control-container,
        #{$this}__hints-container + #{$this}__control-container {
            margin-top: bankai-to-rem($bankai-core-spacing-half-x);
        }
    }

    &--inline-left {
        #{$this}__inner {
            @include bankai-flex-row;
            gap: bankai-to-rem($bankai-core-spacing-03-x);
        }

        #{$this}__label-container {
            @include bankai-flex-row;
        }

        #{$this}__label-container,
        #{$this}__hints-container {
            text-align: right;
        }

        .bankai-form-label {
            margin: auto 0;
        }
    }

    &--inline-right {
        #{$this}__inner {
            @include bankai-flex-row;
            gap: bankai-to-rem($bankai-core-spacing-03-x);
        }

        #{$this}__label-container {
            @include bankai-flex-row;
        }

        .bankai-form-label {
            margin: auto 0;
        }
    }

    &--disabled,
    fieldset:disabled & {
        #{$this}__label-container,
        #{$this}__hints-container {
            opacity: var(--bankai-semantic-state-disabled-opacity, $bankai-core-state-disabled-opacity);
        }
    }
}
