// ========================================================
// Dependencies
// ========================================================
@use 'sass:color';
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-colors-vars.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-scales-vars.scss' as scales-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-state-vars.scss' as state-vars;

.bankai-ifl-form-field-composer, %bankai-ifl-form-field-composer {
    display: inline;
    $this: '.bankai-ifl-form-field-composer';

    &__inner {
        background-color: var(--bankai-form-input-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-bg-color'));
        box-sizing: border-box;
        box-shadow: inset 0 1px 1px color.change(core-colors-vars.$bankai-core-color-neutral-0, $alpha: 0.075);
        border-radius: var(--bankai-form-input-border-radius, theme-utils.bankai-get-light-theme-map-value('form-input-border-radius'));
        border: 1px solid var(--bankai-semantic-color-accessible-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-accessible-border'));
        padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-01-x) unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-02-x);
        position: relative;
    }

    &__inner + &__hints-container--is-displaying-hint {
        margin-top: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-01-x);
    }

    .bankai-form-label {
        @include typography.bankai-sub-text;
        width: 100%;
        color: var(--bankai-form-input-placeholder-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-placeholder-text-color'));
        display: block;
    }

    &__content-container {
        @include layout.bankai-flex-row;
    }

    .bankai-form-label,
    &__before-content-container,
    &__after-content-container {
        position: relative;
        z-index: 1;
    }

    &__control-container {
        min-width: 1px;
        box-sizing: border-box;
        flex: 1 1 auto;

        &-inner {
            @include layout.bankai-flex-row;

            > * {
                flex: 1 1 auto;
            }
        }
    }

    &:not(&--disabled):has(&__control-container:focus-within) &__inner {
        @include states.bankai-focus-state-inner-outer-box-shadow(var(--bankai-form-input-focus-halo-inner-color, theme-utils.bankai-get-light-theme-map-value('form-input-focus-halo-inner-color')), var(--bankai-form-input-focus-halo-outer-color, theme-utils.bankai-get-light-theme-map-value('form-input-focus-halo-outer-color')));
        opacity: 1;
    }

    &--error {
        .bankai-form-label {
            color: var(--bankai-form-input-error-placeholder-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-placeholder-text-color'));
        }

        #{$this}__inner {
            background-color: var(--bankai-form-input-error-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-bg-color'));
            border-color: var(--bankai-form-input-error-border-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-border-color'));
        }
    }

    &--error:not(&--disabled):has(&__control-container:focus-within) &__inner {
        @include states.bankai-focus-state-inner-outer-box-shadow(var(--bankai-form-input-error-focus-halo-inner-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-focus-halo-inner-color')), var(--bankai-form-input-error-focus-halo-outer-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-focus-halo-outer-color')));
    }

    &--top-aligned-label {
        #{$this}__label-container + #{$this}__content-container {
            margin-top: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-half-x);
        }
    }

    &--left-aligned-label {
        #{$this}__inner {
            @include layout.bankai-flex-row;
            gap: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-03-x);
        }

        #{$this}__label-container {
            @include layout.bankai-flex-column;
            flex: 0 1 auto;
            text-align: right;
            min-height: unit-conversion-utils.bankai-to-px(scales-vars.$bankai-core-system-scale * 8);

            &-inner {
                margin: auto 0;
            }
        }

        #{$this}__content-container {
            flex: 1 1 auto;
        }
    }

    // Reset styles from nested controls
    .bankai-text-input {
        min-height: unit-conversion-utils.bankai-to-px(scales-vars.$bankai-core-system-scale * 8);
    }

    .bankai-textarea {
        display: block;
    }

    .rw-widget-picker,
    .bankai-date-picker > .rw-widget-picker {
        border: none;
        background-color: transparent;
    }

    .bankai-text-input,
    .bankai-textarea,
    .bankai-protected-input,
    .bankai-combobox .rw-widget-picker,
    .bankai-number-picker .rw-picker-btn {
        background-color: transparent;

        &[aria-invalid] {
            background-color: transparent;
        }
    }

    .bankai-text-input,
    .bankai-textarea,
    .bankai-text-input[aria-invalid],
    .bankai-textarea[aria-invalid] {
        border: none;
        box-shadow: none;
        padding: 0;;

        &:focus,
        &:focus-visible {
            box-shadow: none;
        }
    }

    .bankai-color-picker-input {
        &__trigger-container {
            width: 22px;
            height: 22px;
        }

        &__trigger {
            border-radius: 100%;
        }
    }

    .rw-widget-input,
    .bankai-number-picker .rw-widget-input,
    .bankai-date-picker .rw-widget-input,
    .bankai-combobox .rw-widget-input,
    .bankai-dropdown .rw-widget-picker.rw-widget-input {
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }

    .bankai-dropdown .rw-dropdown-list-input {
        padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-01-x) 0;
        background-color: transparent;
    }

    .rw-picker-btn.rw-input-addon,
    .bankai-dropdown .rw-picker-caret {
        border-radius: 0 calc(var(--bankai-form-input-border-radius, theme-utils.bankai-get-light-theme-map-value('form-input-border-radius')) - 1px) calc(var(--bankai-form-input-border-radius, theme-utils.bankai-get-light-theme-map-value('form-input-border-radius')) - 1px) 0;
        margin-top: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
    }

    .bankai-date-picker .rw-picker-btn.rw-input-addon {
        border-radius: calc(var(--bankai-form-input-border-radius, theme-utils.bankai-get-light-theme-map-value('form-input-border-radius')) - 1px);
    }

    .bankai-dropdown .rw-dropdown-list-value {
        min-height: 2.278rem;
    }

    .rw-number-picker-spinners {
        border-radius: 0 calc(var(--bankai-form-input-border-radius, theme-utils.bankai-get-light-theme-map-value('form-input-border-radius')) - 1px) calc(var(--bankai-form-input-border-radius, theme-utils.bankai-get-light-theme-map-value('form-input-border-radius')) - 1px) 0;

        .rw-picker-btn {
            &:first-child {
                border-top-right-radius: calc(var(--bankai-form-input-border-radius, theme-utils.bankai-get-light-theme-map-value('form-input-border-radius')) - 1px);
            }

            &:last-child {
                border-bottom-right-radius: calc(var(--bankai-form-input-border-radius, theme-utils.bankai-get-light-theme-map-value('form-input-border-radius')) - 1px);
            }
        }
    }

    .bankai-multiselect .rw-widget-picker {
        background-color: transparent;
    }

    .bankai-multiselect .rw-multiselect-taglist {
        padding: 0;
    }

    .bankai-multiselect .rw-multiselect-input {
        height: calc(unit-conversion-utils.bankai-to-px(scales-vars.$bankai-core-system-scale * 8) - 1px * 2);
    }

    .bankai-dropdown,
    .bankai-number-picker,
    .bankai-combobox,
    .bankai-date-picker,
    .bankai-multiselect {
        &.rw-state-focus {
            .rw-widget-picker,
            .rw-widget-picker.rw-widget-input {
                box-shadow: none;
            }
        }

        &.rw-state-disabled {
            opacity: 1;

            > .rw-widget-picker,
            .rw-picker-caret {
                background-color: transparent;
            }
        }
    }

    &--disabled,
    fieldset:disabled & {
        opacity: var(--bankai-state-disabled-opacity, state-vars.$bankai-core-state-disabled-opacity);

        #{$this}__inner {
            background-color: var(--bankai-form-input-disabled-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-disabled-bg-color'));
        }

        // stylelint-disable-next-line no-descending-specificity
        .bankai-form-label {
            color: var(--bankai-form-input-disabled-placeholder-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-disabled-placeholder-text-color'));
        }

        #{$this}__inner,
        #{$this}__label-container,
        #{$this}__control-container,
        #{$this}__before-content-container,
        #{$this}__after-content-container,
        .bankai-form-label {
            @media (hover: hover) {

                // stylelint-disable-next-line no-descending-specificity
                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }
}