// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-inline-form-error, %bankai-inline-form-error {
    @include bankai-max-line-width;
    color: var(--bankai-core-color-text-error, bankai-light-theme('core-color-text-error'));
    font-size: var(--bankai-core-typography-sub-text-font-size, bankai-light-theme('core-typography-sub-text-font-size'));
    display: block;

    &__icon {
        @include bankai-inline-flex-row;
    }

    .bankai-icon {
        margin: auto;
    }

    &__icon,
    &__text {
        vertical-align: middle;
    }
}
