// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-inline-form-error, %bankai-inline-form-error {
    @include bankai-max-line-width;
    color: var(--bankai-color-form-inline-error-text, bankai-light-theme('color-form-inline-error-text'));
    font-size: var(--bankai-typography-sub-text-font-size, bankai-light-theme('typography-sub-text-font-size'));
    display: block;

    &__icon,
    &__text {
        vertical-align: middle;
    }
}
