// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-inline-form-error, %bankai-inline-form-error {
    @include typography.bankai-max-line-width;
    color: var(--bankai-semantic-color-text-error, theme-utils.bankai-get-light-theme-map-value('semantic-color-text-error'));
    font-size: var(--bankai-semantic-typography-sub-text-font-size, theme-utils.bankai-get-light-theme-map-value('semantic-typography-sub-text-font-size'));
    display: block;

    &__icon {
        @include layout.bankai-inline-flex-row;
    }

    .bankai-icon {
        margin: auto;
    }

    &__icon,
    &__content {
        vertical-align: middle;
    }
}
