// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-ui-style-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-ui-style-utils/src/styles/vars/forms.scss';
@import '~@epr0t0type/bankai-ui-style-utils/src/styles/vars/general.scss';
@import '~@epr0t0type/bankai-ui-theme-utils/src/styles/vars/colors.scss';

@mixin bankai-form-input-disabled($has-placeholder: true) {
    background-color: var(--bankai-form-input-disabled-bg-color, $bankai-form-input-disabled-bg-color);
    opacity: $bankai-disabled-opacity;

    @if $has-placeholder {
        &::placeholder {
            color: var(--bankai-form-input-disabled-placeholder-text, $bankai-form-input-disabled-placeholder-text);
        }
    }
}

@mixin bankai-form-input-error($has-placeholder: true) {
    background-color: var(--bankai-form-input-error-bg-color, $bankai-form-input-error-bg-color);
    border-color: var(--bankai-form-input-error-border-color, $bankai-form-input-error-border-color);

    @if $has-placeholder {
        &::placeholder {
            color: var(--bankai-form-input-error-placeholder-text, $bankai-form-input-error-placeholder-text);
        }
    }

    &:focus {
        @include bankai-focus-state-box-shadow(var(--bankai-form-input-error-focus-halo-color, rgba($bankai-form-input-error-border-color, 0.4)));
    }
}
