// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-scales-vars.scss' as scales-vars;

.bankai-radio, %bankai-radio {
    border-radius: 100%;

    .bankai-universal-toggle-input {
        &__container {
            @include layout.bankai-flex-row;
            border-radius: 100%;
        }
    
        &__icon {
            @include effects.bankai-shadow-elevation-low;
            width: unit-conversion-utils.bankai-to-px(scales-vars.$bankai-core-system-scale * 3);
            height: unit-conversion-utils.bankai-to-px(scales-vars.$bankai-core-system-scale * 3);
            background-color: var(--bankai-form-checked-accent-compliment-color, theme-utils.bankai-get-light-theme-map-value('form-checked-accent-compliment-color'));
            border-radius: 100%;
            margin: auto;
            display: block;
            flex: 0 0 auto;
        }
    }
}
