// ========================================================
// Dependencies
// ========================================================
@use 'sass:color';
@import 'react-toggle/style.css';
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/animations.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-colors-vars.scss';
// @import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';
// @import './mixins.scss';

.bankai-toggle-switch, %bankai-toggle-switch {
    width: 50px;
    position: relative;

    .react-toggle {
        display: block;
    }

    .react-toggle-thumb {
        background-color: var(--bankai-form-toggle-switch-knob-color, bankai-get-light-theme-map-value('form-toggle-switch-knob-color'));
        border-color: var(--bankai-form-toggle-switch-knob-border-color, bankai-get-light-theme-map-value('form-toggle-switch-knob-border-color'));
    }

    // .react-toggle--focus .react-toggle-thumb {
    //     @include bankai-focus-state-box-shadow;
    // }

    .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
        box-shadow: 0 0 5px 5px color.change($bankai-core-color-neutral-0, $alpha: 0.4);
    }

    .react-toggle-track {
        box-shadow: inset 0 0 1px 1px color.change($bankai-core-color-neutral-0, $alpha: 0.1);
    }

    &__toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
        background-color: var(--bankai-form-toggle-switch-track-hover-color, bankai-get-light-theme-map-value('form-toggle-switch-track-hover-color'));
    }

    .react-toggle--disabled {
        opacity: 1;
    }

    // stylelint-disable-next-line
    .react-toggle-track,
    .react-toggle--disabled:hover .react-toggle-track {
        background-color: var(--bankai-form-toggle-switch-track-color, bankai-get-light-theme-map-value('form-toggle-switch-track-color'));
    }

    // stylelint-disable-next-line no-descending-specificity
    .react-toggle--checked .react-toggle-thumb {
        background-color: var(--bankai-form-toggle-switch-on-knob-color, bankai-get-light-theme-map-value('form-toggle-switch-on-knob-color'));
        border-color: var(--bankai-form-toggle-switch-on-track-color, bankai-get-light-theme-map-value('form-toggle-switch-on-track-color'));
    }

    // stylelint-disable-next-line no-descending-specificity
    .react-toggle--checked .react-toggle-track,
    .react-toggle--checked.react-toggle--disabled:hover .react-toggle-track {
        background-color: var(--bankai-form-toggle-switch-on-track-color, bankai-get-light-theme-map-value('form-toggle-switch-on-track-color'));
    }

    // stylelint-disable-next-line no-descending-specificity
    &:hover .react-toggle--checked .react-toggle-track {
        background-color: var(--bankai-form-toggle-switch-on-track-hover-color, bankai-get-light-theme-map-value('form-toggle-switch-on-track-hover-color'));
    }

    &__icon-busy {
        @include bankai-rotate-infinite;
        color: var(--bankai-form-toggle-switch-busy-icon-color, bankai-get-light-theme-map-value('form-toggle-switch-busy-icon-color'));
        font-size: 2rem;
        margin: 2px;
        position: absolute;
        z-index: 2;
        top: 0;
    }

    .react-toggle--checked + &__icon-busy {
        color: var(--bankai-form-toggle-switch-on-busy-icon-color, bankai-get-light-theme-map-value('form-toggle-switch-on-busy-icon-color'));
        left: 0;
    }

    .react-toggle:not(.react-toggle--checked) + &__icon-busy {
        right: 0;
    }

    // stylelint-disable-next-line
    // .react-toggle--checked.react-toggle--focus .react-toggle-thumb {
    //     @include bankai-focus-state-box-shadow(var(--bankai-form-toggle-switch-on-focus-halo-color, bankai-get-light-theme-map-value('form-toggle-switch-on-focus-halo-color')));
    // }

    // .react-toggle--checked:active:not(.react-toggle--disabled) .react-toggle-thumb {
    //     box-shadow: 0 0 5px 5px var(--bankai-form-toggle-switch-on-focus-halo-color, bankai-get-light-theme-map-value('form-toggle-switch-on-focus-halo-color'));
    // }

    &--is-disabled {
        opacity: var(--bankai-semantic-state-disabled-opacity, $bankai-core-state-disabled-opacity);
    }
}
