// ========================================================
// Dependencies
// ========================================================
@use 'sass:color';
@use 'react-toggle/style.css';
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/animations.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-colors-vars.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-state-vars.scss' as state-vars;

.bankai-toggle-switch, %bankai-toggle-switch {
    width: 50px;
    position: relative;

    .react-toggle {
        display: block;
    }

    .react-toggle-thumb {
        @include effects.bankai-shadow-elevation-low;
        background-color: var(--bankai-form-toggle-switch-knob-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-knob-color'));
        border-color: var(--bankai-form-toggle-switch-knob-border-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-knob-border-color'));
    }

    .react-toggle--focus .react-toggle-thumb,
    .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
        @include states.bankai-focus-state-inner-outer-box-shadow;
    }

    .react-toggle-track {
        box-shadow: inset 0 0 1px 1px color.change(core-colors-vars.$bankai-core-color-neutral-0, $alpha: 0.1);
    }

    &__toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
        background-color: var(--bankai-form-toggle-switch-track-hover-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-track-hover-color'));
    }

    .react-toggle--disabled {
        opacity: 1;
    }

    // stylelint-disable-next-line
    .react-toggle-track,
    .react-toggle--disabled:hover .react-toggle-track {
        background-color: var(--bankai-form-toggle-switch-track-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-track-color'));
    }

    // stylelint-disable-next-line no-descending-specificity
    .react-toggle--checked .react-toggle-thumb {
        background-color: var(--bankai-form-toggle-switch-on-knob-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-on-knob-color'));
        border-color: var(--bankai-form-toggle-switch-on-track-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-on-track-color'));
    }

    // stylelint-disable-next-line no-descending-specificity
    .react-toggle--checked .react-toggle-track,
    .react-toggle--checked.react-toggle--disabled:hover .react-toggle-track {
        background-color: var(--bankai-form-toggle-switch-on-track-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-on-track-color'));
    }

    // stylelint-disable-next-line no-descending-specificity
    &:hover .react-toggle--checked .react-toggle-track {
        background-color: var(--bankai-form-toggle-switch-on-track-hover-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-on-track-hover-color'));
    }

    &__icon-busy {
        @include animations.bankai-rotate-infinite;
        color: var(--bankai-form-toggle-switch-busy-icon-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-busy-icon-color'));
        font-size: 2rem;
        margin: 2px;
        position: absolute;
        z-index: 2;
        top: 0;
    }

    .react-toggle--checked + &__icon-busy {
        color: var(--bankai-form-toggle-switch-on-busy-icon-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-on-busy-icon-color'));
        left: 0;
    }

    .react-toggle:not(.react-toggle--checked) + &__icon-busy {
        right: 0;
    }

    // stylelint-disable-next-line
    .react-toggle--checked.react-toggle--focus .react-toggle-thumb,
    .react-toggle--checked:active:not(.react-toggle--disabled) .react-toggle-thumb {
        @include states.bankai-focus-state-inner-outer-box-shadow(var(--bankai-form-toggle-switch-on-focus-halo-inner-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-on-focus-halo-inner-color')), var(--bankai-form-toggle-switch-on-focus-halo-outer-color, theme-utils.bankai-get-light-theme-map-value('form-toggle-switch-on-focus-halo-outer-color')));
    }

    &--is-disabled {
        opacity: var(--bankai-semantic-state-disabled-opacity, state-vars.$bankai-core-state-disabled-opacity);
    }
}
