// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-scales-vars.scss';
@import './mixins.scss';

.bankai-universal-toggle-input, %bankai-universal-toggle-input {
    width: bankai-to-px($bankai-core-system-scale * 6);
    height: bankai-to-px($bankai-core-system-scale * 6);
    box-sizing: border-box;
    position: relative;
    display: block;
    $this: '.bankai-universal-toggle-input';

    &__input {
        opacity: 0;
        z-index: 3;
    }

    &__container {
        background-color: var(--bankai-form-input-bg-color, bankai-get-light-theme-map-value('form-input-bg-color'));
        box-sizing: border-box;
        border: 1px solid var(--bankai-semantic-color-universal-accessible-border, bankai-get-light-theme-map-value('semantic-color-universal-accessible-border'));
        display: block;
        z-index: 1;
    }

    &__input,
    &__container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__input:disabled {
        cursor: not-allowed;
    }

    &__input:focus-visible + &__container {
        @include bankai-focus-state-inner-outer-box-shadow;
    }

    &__input:disabled + &__container {
        @include bankai-form-input-disabled(false);
    }

    &--checked {
        #{$this}__container,
        #{$this}__input:disabled + #{$this}__container {
            background-color: var(--bankai-form-checked-accent-color, bankai-get-light-theme-map-value('form-checked-accent-color'));
        }

        #{$this}__input:focus + #{$this}__container {
            @include bankai-focus-state-inner-outer-box-shadow(var(--bankai-form-checked-focus-halo-inner-color, bankai-get-light-theme-map-value('form-checked-focus-halo-inner-color')), var(--bankai-form-checked-focus-halo-outer-color, bankai-get-light-theme-map-value('form-checked-focus-halo-outer-color')));
        }
    }
}
