.bankai-sb-banner {
    &-affirmative,
    &-cautionary,
    &-danger,
    &-info {
        .bankai-sb-code-tag {
            background-color: currentColor;
        }
    }

    &-affirmative .bankai-sb-code-tag__content {
        color: var(--bankai-banner-affirmative-bg-color);
    }

    &-cautionary .bankai-sb-code-tag__content {
        color: var(--bankai-banner-cautionary-bg-color);
    }

    &-danger .bankai-sb-code-tag__content {
        color: var(--bankai-banner-danger-bg-color);
    }

    &-info .bankai-sb-code-tag__content {
        color: var(--bankai-banner-info-bg-color);
    }
}