// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-do-and-do-not-do {
    container: do-and-do-not-do / inline-size;
    $this: &;

    &__inner {
        @include layout.bankai-flex-column;
        gap: #{unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-04-x)};
    }

    &__list-container {
        @include layout.bankai-flex-row;
    }

    &__list {
        min-width: 1px;
        flex: 1 1 auto;
    }

    &--side-by-side {
        @container do-and-do-not-do (max-width: 587px) {
            #{$this}__inner {
                @include layout.bankai-flex-column;
            }
        }
    
        @container do-and-do-not-do (min-width: 588px) {
            #{$this}__inner {
                @include layout.bankai-flex-row;

                > * {
                    width: 50%;
                    flex: 1 1 auto;
                }
            }
        }

    }
}