// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';

.bankai-sb-do-and-do-not-do__list {
    .bankai-banner__msg > .bankai-list {
        padding: 0;
    }

    .bankai-banner__msg > :first-child {
        margin-top: 0;
    }

    .bankai-banner__msg > :last-child {
        margin-bottom: 0;
    }

    .bankai-banner__title-container {
        @include bankai-flex-column;
        min-height: 40px;

        > * {
            margin: auto 0;
        }
    }
}