// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';

.bankai-accordion-item-trigger {
    .bankai-accordion-item-button {
        @include bankai-flex-row;
    }

    &__text-container {
        min-width: 1px;
        flex: 1 1 auto;
    }

    &__icon-container {
        flex: 0 0 auto;
    }

    &__icon {
        font-size: 2rem;
    }

    &__text-container,
    &__icon-container {
        box-sizing: border-box;
        padding: 1rem 1.5rem;
    }

    .bankai-icon-chevron-down {
        transition: transform 0.25s ease;
    }

    &--is-expanded {
        .bankai-icon-chevron-down {
            transform: scaleY(-1);
        }
    }
}
