// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-accordion__item-button, %bankai-accordion__item-button {
    @include states.bankai-focus-state-halo;
    color: var(--bankai-accordion-trigger-text-color, theme-utils.bankai-get-light-theme-map-value('accordion-trigger-text-color'));

    @media (hover: hover) {
        &:hover {
            color: var(--bankai-accordion-trigger-hover-text-color, #{theme-utils.bankai-get-light-theme-map-value('accordion-trigger-hover-text-color')});
            background-color: var(--bankai-accordion-trigger-hover-bg-color, #{theme-utils.bankai-get-light-theme-map-value('accordion-trigger-hover-bg-color')});
            cursor: pointer;
        }
    }
}
