// ========================================================
// Dependencies
// ========================================================
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/animations.scss';
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-accordion-item-button, %bankai-accordion-item-button {
    @include bankai-focus-state-halo;
    color: var(--bankai-accordion-trigger-text-color, bankai-light-theme('accordion-trigger-text-color'));

    @media (hover: hover) {
        &:hover {
            color: var(--bankai-accordion-trigger-hover-text-color, #{bankai-light-theme('accordion-trigger-hover-text-color')});
            background-color: var(--bankai-accordion-trigger-hover-bg-color, #{bankai-light-theme('accordion-trigger-hover-bg-color')});
            cursor: pointer;
        }
    }
}
