// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-accordion__content-container, %bankai-accordion__content-container {
    box-sizing: border-box;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    &--pad-content {
        padding: #{unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-04-x)};
    }
}
