// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';

.bankai-base-accordion-item-trigger, %bankai-base-accordion-item-trigger {
    .bankai-accordion-item-button {
        @include bankai-flex-row;
    }

    &__text-container {
        min-width: 1px;
        flex: 1 1 auto;
    }

    &__icon-container {
        @include bankai-flex-column;
        flex: 0 0 auto;
    }

    &__icon {
        font-size: 1.25em;
        margin: auto;
        flex: 0 0 auto;
    }

    &__text-container,
    &__icon-container {
        box-sizing: border-box;
        padding: #{bankai-to-rem(bankai-light-theme('core-system-scale') * 3)};
    }

    .bankai-icon-chevron-down {
        transition: transform 0.25s ease;
    }

    &--is-expanded {
        .bankai-icon-chevron-down {
            transform: scaleY(-1);
        }
    }
}
