// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-badge.bankai-badge--cautionary {
    color: var(--bankai-badge-cautionary-text-color, theme-utils.bankai-get-light-theme-map-value('badge-cautionary-text-color'));
    background-color: var(--bankai-badge-cautionary-bg-color, theme-utils.bankai-get-light-theme-map-value('badge-cautionary-bg-color'));
    border: 1px solid var(--bankai-badge-cautionary-icon-color, theme-utils.bankai-get-light-theme-map-value('badge-cautionary-icon-color'));

    .bankai-badge__icon {
        color: var(--bankai-badge-cautionary-icon-color, theme-utils.bankai-get-light-theme-map-value('badge-cautionary-icon-color'));
    }
}
