// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-badge, %bankai-badge {
    color: var(--bankai-badge-text-color, bankai-get-light-theme-map-value('badge-text-color'));
    background-color: var(--bankai-badge-bg-color, bankai-get-light-theme-map-value('badge-bg-color'));
    font-size: var(--bankai-semantic-typography-sub-text-font-size, bankai-get-light-theme-map-value('semantic-typography-sub-text-font-size'));
    line-height: var(--bankai-semantic-typography-line-height, bankai-get-light-theme-map-value('semantic-typography-line-height'));
    box-sizing: border-box;
    border-radius: var(--bankai-badge-border-radius, bankai-get-light-theme-map-value('badge-border-radius'));
    display: inline-block;
    padding: bankai-to-rem($bankai-core-spacing-01-x) bankai-to-rem($bankai-core-spacing-02-x);
}
