// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use './animations.scss';
@use './mixins.scss' as loading-mixins;

.bankai-loading-squares, %bankai-loading-squares {
    @include layout.bankai-flex-row;
    color: var(--bankai-loading-icon-primary-color, theme-utils.bankai-get-light-theme-map-value('loading-icon-primary-color'));
    width: 1em;
    height: 1em;
    font-size: 60px;
    flex-wrap: wrap;
    $this: '.bankai-loading-squares';

    &__square {
        background-color: currentColor;
        flex: 0 0 auto;
    }

    &--fade {
        #{$this}__square {
            @include loading-mixins.bankai-loading-fade;
        }
    }

    &--folding-quads {
        transform: rotateZ(45deg);

        #{$this}__square {
            width: calc(1em / 2);
            height: calc(1em / 2);
            background-color: transparent;
            display: block;
            transform: scale(1.025);
            position: relative;

            &::before {
                width: 100%;
                height: 100%;
                background-color: currentColor;
                content: '';
                animation: bankai-fold-cube 2.4s infinite linear both;
                transform-origin: 100% 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:nth-child(2) {
                transform: scale(1.025) rotateZ(90deg);

                &::before {
                    animation-delay: 0.3s;
                }
            }

            &:nth-child(3) {
                transform: scale(1.025) rotateZ(270deg);

                &::before {
                    animation-delay: 0.9s;
                }
            }

            &:nth-child(4) {
                transform: scale(1.025) rotateZ(180deg);

                &::before {
                    animation-delay: 0.6s;
                }
            }
        }
    }

    &--pulse {
        #{$this}__square {
            @include loading-mixins.bankai-loading-pulse;
        }
    }

    &--fade,
    &--pulse,
    &--pulse-fade {
        @include loading-mixins.bankai-loading-grid-gap;

        #{$this}__square {
            @include loading-mixins.bankai-loading-grid-item-dimensions;
        }
    }

    &--pulse-fade {
        #{$this}__square {
            @include loading-mixins.bankai-loading-pulse-fade;
        }
    }

    &--pulsing-wave {
        #{$this}__square {
            @include loading-mixins.bankai-loading-pulse-wave;
            width: calc(1em / 3);
            height: calc(1em / 3);
            display: block;
        }
    }
}
