// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-hyperlink, %bankai-hyperlink {
    @include bankai-focus-state-halo;
    color: var(--bankai-link-text-color, bankai-light-theme('link-text-color'));
    text-decoration: none;
    border-radius: #{bankai-to-px(bankai-light-theme('core-system-scale'))};
    $this: '.bankai-hyperlink';

    &:focus-visible {
        @include bankai-focus-state-box-shadow(var(--bankai-link-focus-halo-color, bankai-light-theme('link-focus-halo-color')));
    }

    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}
