// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-loading-skeleton-guide {
    &__demo {
        .bankai-loading-skeleton {
            width: 320px;
            height: 150px;
            border-radius: #{bankai-to-px(bankai-light-theme('core-system-scale') * 3)};
        }
    }
}
