// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-color-palette-gen {
    $this: &;
    
    .bankai-sb-layout__content {
        @include layout.bankai-flex-row;
        gap: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-11-x);
        flex-wrap: wrap;
    }

    .bankai-sb-color-design-token-list-item {
        min-width: 22rem;
    }

    .bankai-sb-color-palette-gen__form-and-results-container {
        min-width: 46.1rem;
        flex: 1;
    }

    .bankai-sb-color-palette-gen-choices {
        min-width: 34rem;
        flex: 1 1 0;
    }
}
