// ========================================================
// Dependencies
// ========================================================
@use 'sass:color';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-radii-vars.scss' as radii-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-icons-list__item {
    @include resets.bankai-button-reset;
    @include states.bankai-focus-state-halo;
    @include effects.bankai-shadow-elevation-low;
    width: 180px;
    color: inherit;
    background-color: var(--bankai-semantic-color-canvas-alt, theme-utils.bankai-get-light-theme-map-value('semantic-color-canvas-alt'));
    box-sizing: border-box;
    border-radius: bankai-to-px(radii-vars.$bankai-core-radius-04-x);
    padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-03-x);

    @media (hover: hover) {
        &:hover {
            transform: scale(1.03);
            cursor: pointer;
        }
    }

    &:active {
        @include effects.bankai-shadow-elevation-low;
        transform: scale(0.975);
    }

    &-icon-container {
        font-size: 4.5rem;
    }

    &-icon-safe-area {
        @include layout.bankai-flex-row;
        width: 4.5rem;
        height: 4.5rem;
        margin: auto;
    }

    &-text-container {
        font-size: 1.2rem;
    }

    &-text {
        text-align: center;
        margin: auto;
    }

    &-icon-container,
    &-text-container {
        @include layout.bankai-flex-row;
    }

    &-icon-container + &-text-container {
        margin-top: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-03-x);
    }

    // MODS
    &--copied {
        background-color: var(--bankai-semantic-color-affirmative, theme-utils.bankai-get-light-theme-map-value('semantic-color-affirmative'));
        border-color: var(--bankai-semantic-color-affirmative, theme-utils.bankai-get-light-theme-map-value('semantic-color-affirmative'));
    }
}
