// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-scales-vars.scss' as scales-vars;

.bankai-sb-folder-structure-heading {
    .bankai-icon {
        color: var(--bankai-semantic-color-text-alt, theme-utils.bankai-get-light-theme-map-value('semantic-color-text-alt'));
        font-size: unit-conversion-utils.bankai-to-rem(scales-vars.$bankai-core-system-scale * 8);
    }

    .bankai-icon,
    &__text {
        vertical-align: middle;
    }
}
