// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/vars/breakpoints.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-colors-vars.scss';

.bankai-modal, %bankai-modal {
    @include layout.bankai-flex-column;
    @include layout.bankai-breakpoint-min-only(breakpoints.$bankai-s-min) {
        @include effects.bankai-shadow-elevation-high(core-colors-vars.$bankai-core-color-neutral-0);
        border-radius: var(--bankai-modal-dialog-border-radius, bankai-get-light-theme-map-value('modal-dialog-border-radius'));
        max-width: 90%;
        max-height: 90%;

        &__overlay {
            @include layout.bankai-flex-column;
            align-items: center;
        }

        &__close-button {
            border-radius: 0 var(--bankai-modal-dialog-border-radius, bankai-get-light-theme-map-value('modal-dialog-border-radius')) 0 var(--bankai-modal-dialog-border-radius, bankai-get-light-theme-map-value('modal-dialog-border-radius'));
        }
    }
    @include layout.bankai-breakpoint-max-only(breakpoints.$bankai-xs-max) {
        width: 100%;
        height: 100%;
    }
    box-sizing: border-box;
    margin: auto;
    position: relative;
    $this: '.bankai-modal';

    &__content-container {
        @include layout.bankai-flex-column;
    }

    &__content-container,
    &__main-container {
        min-height: 1px;
        flex: 1 1 auto;
    }

    &__close-button {
        position: absolute;
        top: 0;
        right: 0;

        .bankai-button__content-container {
            padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-01-x);
        }
    }

    &__actions-container {
        @include layout.bankai-flex-row;
    }

    &__actions-container-inner {
        margin-left: auto;

        .bankai-button + .bankai-button {
            margin-left: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-03-x);
        }
    }

    &__heading-container,
    &__actions-container {
        flex: 0 0 auto;
    }

    &__heading-container,
    &__main-container,
    &__actions-container {
        box-sizing: border-box;
        padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-04-x);
    }

    * + &__main-container {
        padding-top: 0;
    }

    * + &__actions-container {
        padding-top: 0;
    }

    &__close-button + * {
        margin-top: 40px;
    }

    &__heading-container + &__close-button + * {
        margin-top: 0;
    }

    &__sub-title {
        @include typography.bankai-max-line-width;
        color: var(--bankai-semantic-color-text-alt, bankai-get-light-theme-map-value('semantic-color-text-alt'));
        font-size: var(--bankai-semantic-typography-sub-text-font-size, bankai-get-light-theme-map-value('semantic-typography-sub-text-font-size'));
        margin: 0;
    }

    &--has-close-btn {
        #{$this}__heading-container {
            padding-right: 50px;
        }
    }

    &__overlay.bankai-aria-modal__overlay {
        opacity: 0;
        transition: opacity 150ms;
    }

    &__overlay.bankai-aria-modal__overlay--after-open {
        opacity: 1;
    }

    &__overlay.bankai-aria-modal__overlay--before-close {
        opacity: 0;
    }
}
