// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-colors-vars.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-status-modal, %bankai-status-modal {
    color: core-colors-vars.$bankai-core-color-neutral-100;
    padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-01-x);

    &__dialog {
        background-color: transparent;
        margin: auto;
    }

    &__overlay {
        @include layout.bankai-flex-column;
        align-items: center;
    }

    .bankai-loading-spinners--cube {
        color: core-colors-vars.$bankai-core-color-neutral-100;
    }

    .bankai-callout__title {
        color: core-colors-vars.$bankai-core-color-neutral-100;
        font-style: italic;
    }

    &__overlay.bankai-aria-modal__overlay {
        opacity: 0;
        transition: opacity 150ms;
    }

    &__overlay.bankai-aria-modal__overlay--after-open {
        opacity: 1;
    }

    &__overlay.bankai-aria-modal__overlay--before-close {
        opacity: 0;
    }
}
