// ========================================================
// Dependencies
// ========================================================
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-status-modal, %bankai-status-modal {
    color: bankai-light-theme('color-white');
    padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base'))};

    &__dialog {
        background-color: transparent;
        margin: auto;
    }

    &__overlay {
        @include bankai-flex-column;
        align-items: center;
    }

    .bankai-callout__icon {
        * {
            background-color: bankai-light-theme('color-white');
        }
    }

    .bankai-callout__title {
        font-style: italic;
    }

    &__overlay.bankai-aria-modal__overlay {
        opacity: 0;
        transition: opacity 150ms;
    }

    &__overlay.bankai-aria-modal__overlay--after-open {
        opacity: 1;
    }

    &__overlay.bankai-aria-modal__overlay--before-close {
        opacity: 0;
    }
}
