// ========================================================
// Dependencies
// ========================================================
// @import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-colors-vars.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-status-modal, %bankai-status-modal {
    color: $bankai-core-color-neutral-100;
    padding: bankai-to-rem($bankai-core-spacing-01-x);

    &__dialog {
        background-color: transparent;
        margin: auto;
    }

    &__overlay {
        @include bankai-flex-column;
        align-items: center;
    }

    .bankai-loading-spinners--cube {
        color: $bankai-core-color-neutral-100;
    }

    .bankai-callout__title {
        color: $bankai-core-color-neutral-100;
        font-style: italic;
    }

    &__overlay.bankai-aria-modal__overlay {
        opacity: 0;
        transition: opacity 150ms;
    }

    &__overlay.bankai-aria-modal__overlay--after-open {
        opacity: 1;
    }

    &__overlay.bankai-aria-modal__overlay--before-close {
        opacity: 0;
    }
}
