// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-sticky-section {
    $this: &;

    &--slim &__inner {
        @include effects.bankai-shadow-elevation-medium;
        width: 100%;
        background-color: var(--bankai-semantic-color-canvas, theme-utils.bankai-get-light-theme-map-value('semantic-color-canvas'));
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1020;
    }
}
