// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/vars/breakpoints.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/index.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

// stylelint-disable-next-line selector-max-id
html,
body,
#root,
#storybook-root {
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

.sb-show-main.sb-main-padded {
    padding: 0;
}

.bankai-sb-layout {
    @include layout.bankai-scroll-y;
    height: 100%;
    background-color: var(--bankai-semantic-color-canvas-alt, theme-utils.bankai-get-light-theme-map-value('semantic-color-canvas-alt'));
    box-sizing: border-box;
    padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-08-x) unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-08-x);
    $this: &;

    &__inner {
        @include effects.bankai-shadow-elevation-high;
        max-width: 1440px;
        background-color: var(--bankai-semantic-color-canvas, theme-utils.bankai-get-light-theme-map-value('semantic-color-canvas'));
        border-radius: var(--bankai-tile-border-radius, theme-utils.bankai-get-light-theme-map-value('tile-border-radius'));
        margin: 0 auto;
    }

    &__header {
        // @include bankai-shadow-elevation-low;
        background-color: var(--bankai-semantic-color-canvas, theme-utils.bankai-get-light-theme-map-value('semantic-color-canvas'));
        border-radius: var(--bankai-tile-border-radius, theme-utils.bankai-get-light-theme-map-value('tile-border-radius')) var(--bankai-tile-border-radius, theme-utils.bankai-get-light-theme-map-value('tile-border-radius')) 0 0;
        border-bottom: 1px solid var(--bankai-semantic-color-decorative-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-decorative-border'));
        box-sizing: border-box;
        padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-07-x) unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-08-x);

        &-title {
            color: var(--bankai-semantic-color-text, theme-utils.bankai-get-light-theme-map-value('semantic-color-text'));
        }

        &-sub-title {
            @include typography.bankai-sub-text;
            color: var(--bankai-semantic-color-text-alt, theme-utils.bankai-get-light-theme-map-value('semantic-color-text-alt'));
            // color: var(--bankai-semantic-color-canvas, theme-utils.bankai-get-light-theme-map-value('semantic-color-canvas'));
            margin: 0;
        }
    }

    &__content {
        box-sizing: border-box;
        padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-08-x);
    }

    .bankai-sb-section + .bankai-sb-section {
        margin-top: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-11-x);
    }

    * + .bankai-sb-code-block,
    .bankai-sb-code-block + *,
    * + .bankai-sb-banner,
    .bankai-sb-banner + * {
        margin-top: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-07-x);
    }

    * + &__package-badges {
        margin-top: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-02-x);
    }

    * + .bankai-sb-collapsible-dt-section,
    .bankai-sb-collapsible-dt-section + * {
        margin-top: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-07-x);
    }

    * + .bankai-sb-base-color-with-variants,
    .bankai-sb-base-color-with-variants + * {
        margin-top: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-09-x);
    }

    .bankai-list__item > * + .bankai-list {
        margin-top: 0.8rem;
    }

    @include layout.bankai-breakpoint-max-only(breakpoints.$bankai-s-min) {
        padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-04-x) unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-04-x);

        &__header {
            padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-07-x) unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-04-x);
        }

        &__content {
            box-sizing: border-box;
            padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-06-x) unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-04-x);
        }
    }
}
