// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-radii-vars.scss' as radii-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-section {
    box-sizing: border-box;
    border-radius: unit-conversion-utils.bankai-to-px(radii-vars.$bankai-core-radius-04-x);

    .bankai-sb-section-title + * {
        margin-top: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-04-x);
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
