// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-radii-vars.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-sb-section {
    box-sizing: border-box;
    border-radius: bankai-to-px($bankai-core-radius-04-x);

    .bankai-sb-section-title + * {
        margin-top: bankai-to-px($bankai-core-spacing-04-x);
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
