// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-design-tokens-table {
    &__token,
    &__token-value-desc {
        @include bankai-sub-text;
        color: var(--bankai-core-color-text-alt, bankai-light-theme('core-color-text-alt'));
    }

    &__token-value-desc {
        @include bankai-max-line-width;
        margin-left: auto;
    }

    .bankai-sb-table__tr .bankai-sb-table__th:not(:first-child),
    .bankai-sb-table__tr .bankai-sb-table__td:not(:first-child) {
        text-align: right;
    }

    &__platform-icon-container {
        color: var(--bankai-core-color-text-alt, bankai-light-theme('core-color-text-alt'));
        font-size: #{bankai-to-rem(bankai-light-theme('core-system-scale') * 5)};
        vertical-align: middle;
    }

    &__platform-icon-container + &__token-name {
        margin-left: #{bankai-to-px(bankai-light-theme('core-system-scale') * 2)};
    }
}
