// ========================================================
// Dependencies
// ========================================================
@use 'sass:color';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-table {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;
    table-layout: fixed;

    &__th {
        padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 3)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
    }

    &__th,
    &__td {
        box-sizing: border-box;
        text-align: left;

        &--center {
            text-align: center;
        }
    }

    &__td {
        padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
    }

    &__tr {
        &--alt .bankai-sb-table__td {
            background-color: var(--bankai-color-canvas-alt, bankai-light-theme('color-canvas-alt'));
        }

        &:last-child {
            .bankai-sb-table__td {
                &:first-child {
                    border-radius: 0 0 0 #{bankai-to-px(bankai-light-theme('layout-grid-base') - 1px)};
                }

                &:last-child {
                    border-radius: 0 0 #{bankai-to-px(bankai-light-theme('layout-grid-base') - 1px)};
                }
            }
        }
    }

    &__tbody {
        // border: 1px solid var(--bankai-color-universal-border, bankai-light-theme('color-universal-border'));
        border-radius: #{bankai-to-px(bankai-light-theme('layout-grid-base'))};
        box-shadow: color.change(bankai-light-theme('color-black'), $alpha: 0.1) 0 1px 3px 1px, color.change(bankai-light-theme('color-black'), $alpha: 0.167) 0 0 0 1px;
    }
}
