// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/vars/breakpoints.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-applying-themes-guide {
    $this: &;

    .bankai-form-layout-section + .bankai-form-layout-section {
        margin-top: #{bankai-to-rem(bankai-light-theme('core-system-scale') * 5)};
    }

    &__theme-demo {
        @include bankai-flex-row;
        gap: #{bankai-to-px(bankai-light-theme('core-system-scale') * 5)};
        flex-wrap: wrap;
    }

    .bankai-sb-sticky-section--slim .bankai-sb-sticky-section__inner {
        padding: 0 #{bankai-to-rem(bankai-light-theme('core-system-scale') * 8)};

        @include bankai-breakpoint-max-only($bankai-s-min) {
            padding: #{bankai-to-rem(bankai-light-theme('core-system-scale') * 4)};
        }
    }
}
