// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-tab, %bankai-tab {
    @include states.bankai-focus-state-halo;
    color: var(--bankai-tabs-inactive-text-color, theme-utils.bankai-get-light-theme-map-value('tabs-inactive-text-color'));
    box-sizing: border-box;
    user-select: none;

    &:focus {
        outline: none;
    }

    @media (hover: hover) {
        &:hover {
            cursor: pointer;
        }

        &--is-active:hover {
            cursor: default;
        }
    }

    &__content {
        text-align: center;
    }

    &__content-inner {
        display: inline-block;
    }

    &__icon-container {
        width: 1em;
        line-height: 0;
    }

    &__icon-container,
    &__text-container {
        padding: 0 unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-01-x);
        vertical-align: middle;
        margin: auto 0;
        display: inline-block;
    }

    &__icon-safe-space {
        width: 1em;
        height: 1em;
        display: inline-block;
    }

    &__text {
        line-height: var(--bankai-semantic-typography-line-height, theme-utils.bankai-get-light-theme-map-value('semantic-typography-line-height'));
    }

    &--is-active:focus-visible {
        @include states.bankai-focus-state-inner-outer-box-shadow(var(--bankai-tabs-active-focus-halo-inner-color, theme-utils.bankai-get-light-theme-map-value('tabs-active-focus-halo-inner-color')), var(--bankai-tabs-active-focus-halo-outer-color, theme-utils.bankai-get-light-theme-map-value('tabs-active-focus-halo-outer-color')));
    }
}
