// ========================================================
// Dependencies
// ========================================================
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/animations.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-tab, %bankai-tab {
    @include bankai-focus-state-halo;
    color: var(--bankai-color-tabs-inactive-text, bankai-light-theme('color-tabs-inactive-text'));
    box-sizing: border-box;
    user-select: none;

    &:focus {
        outline: none;
    }

    @media (hover: hover) {
        &:hover {
            cursor: pointer;
        }

        &--is-active:hover {
            cursor: default;
        }
    }

    &__content {
        text-align: center;
    }

    &__content-inner {
        display: inline-block;
    }

    &__icon-container {
        width: 1em;
        line-height: 0;
    }

    &__icon-container,
    &__text-container {
        padding: 0 #{bankai-to-rem(bankai-light-theme('layout-grid-base'))};
        vertical-align: middle;
        margin: auto 0;
        display: inline-block;
    }

    &__icon-safe-space {
        width: 1em;
        height: 1em;
        display: inline-block;
    }

    &__text {
        line-height: var(--bankai-typography-line-height, bankai-light-theme('typography-line-height'));
    }

    &--is-active:focus-visible {
        @include bankai-focus-state-box-shadow(var(--bankai-color-tabs-active-focus-halo, bankai-light-theme('color-tabs-active-focus-halo')));
    }
}
