/* stylelint-disable no-descending-specificity */
// ========================================================
// Dependencies
// ========================================================
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/animations.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-tabs, %bankai-tabs {
    $this: '.bankai-tabs';

    // Mods
    &--bar,
    &--fill-up,
    &--flip,
    &--folder,
    &--line-box,
    &--overline,
    &--overline-segmented,
    &--pill,
    &--pointer,
    &--traditional,
    &--traditional-gapped,
    &--underline,
    &--underline-segmented {
        .bankai-tab {
            flex: 1;
        }
    }

    &--fill-up,
    &--folder,
    &--overline,
    &--overline-segmented,
    &--underline,
    &--underline-segmented {
        .bankai-tab .bankai-tab__content-inner {
            transform: translate3d(0, 5px, 0);
        }
    }

    &--bar {
        #{$this}__tabs-list-container {
            background-color: var(--bankai-color-tabs-border, bankai-light-theme('color-tabs-border'));
            padding: #{bankai-to-px(bankai-light-theme('layout-grid-base'))};
        }

        .bankai-tabs-list {
            gap: #{bankai-to-px(bankai-light-theme('layout-grid-base'))};
        }

        .bankai-tab {
            background-color: var(--bankai-color-tabs-inactive-bg, bankai-light-theme('color-tabs-inactive-bg'));
            transform: scale(0.95);

            &--is-active {
                color: var(--bankai-color-tabs-active-bg, bankai-light-theme('color-tabs-active-bg'));
                background-color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
                transform: scale(1);
            }
        }
    }

    &--flip {
        #{$this}__tabs-list-container {
            background-color: var(--bankai-color-tabs-inactive-bg, bankai-light-theme('color-tabs-inactive-bg'));
        }

        .bankai-tab {
            &__content {
                position: relative;
            }

            &__content::after {
                width: 100%;
                height: 100%;
                content: '';
                transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
                transform-origin: 50% 100%;
                perspective-origin: 50% 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            &__content-inner {
                position: inherit;
                z-index: 1;
            }

            &--is-active {
                color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));

                .bankai-tab__content::after {
                    background-color: var(--bankai-color-tabs-active-bg, bankai-light-theme('color-tabs-active-bg'));
                    transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
                }
            }
        }
    }

    &--folder {
        .bankai-tab {
            &:focus {
                box-shadow: none;
            }

            &:focus-visible .bankai-tab__content::after {
                box-shadow: 0 0 0 3px rgba(bankai-light-theme('color-black'), 0.4);
            }
        }

        .bankai-tab:not(.bankai-tab--is-active) {
            @media (hover: hover) {
                &:hover {
                    color: var(--bankai-color-tabs-inactive-hover-text, bankai-light-theme('color-tabs-inactive-hover-text'));

                    .bankai-tab__content::after {
                        background-color: var(--bankai-color-tabs-inactive-hover-bg, bankai-light-theme('color-tabs-inactive-hover-bg'));
                    }
                }
            }
        }

        .bankai-tab--is-active {
            position: relative;
            z-index: 1;

            .bankai-tab__content-inner {
                transform: translate3d(0, 0, 0);
            }

            &:focus-visible .bankai-tab__content::after {
                box-shadow: 0 0 0 3px var(--bankai-color-tabs-active-focus-halo, bankai-light-theme('color-tabs-active-focus-halo'));
            }

            .bankai-tab__content {
                color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));

                &::after {
                    background-color: var(--bankai-color-tabs-active-bg, bankai-light-theme('color-tabs-active-bg'));
                }
            }
        }

        .bankai-tab__content {
            position: relative;

            &::after {
                content: '';
                background-color: var(--bankai-color-tabs-inactive-bg, bankai-light-theme('color-tabs-inactive-bg'));
                border-radius: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)} #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)} 0 0;
                transform: perspective(5px) rotateX(0.75deg) translate3d(0, 1px, -0.0875rem);
                transform-origin: 0 0;
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            &-inner {
                position: inherit;
                z-index: 1;
            }
        }
    }

    &--fill-up {
        .bankai-tab {
            &--is-active .bankai-tab__content-inner {
                transform: translate3d(0, 0, 0);
            }

            &__content::after {
                background-color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
                transform: translate3d(0, 100%, 0);
            }
        }
    }

    &--line-box {
        .bankai-tabs-list {
            gap: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)};
        }

        .bankai-tab {
            &__content::after {
                background-color: var(--bankai-color-tabs-inactive-bg, bankai-light-theme('color-tabs-inactive-bg'));
                transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
            }

            &--is-active .bankai-tab__content {
                color: var(--bankai-color-tabs-active-bg, bankai-light-theme('color-tabs-active-bg'));

                &::after {
                    background-color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
                    transform: translate3d(0, 0, 0);
                }
            }

            &:not(.bankai-tab--is-active) {
                @media (hover: hover) {
                    &:hover .bankai-tab__content {
                        color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));

                        &::after {
                            background-color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
                        }
                    }
                }
            }
        }
    }

    &--fill-up,
    &--line-box {
        .bankai-tab__content {
            position: relative;
            overflow: hidden;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .bankai-tab__content-inner {
            position: inherit;
            z-index: 1;
        }

        .bankai-tab--is-active .bankai-tab__content {
            color: var(--bankai-color-tabs-active-bg, bankai-light-theme('color-tabs-active-bg'));

            &::after {
                background-color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &--overline {
        .bankai-tab__content::before {
            border-radius: 0 0 2px 2px;
        }
    }

    &--pill {
        #{$this}__tabs-list-container {
            background-color: var(--bankai-color-tabs-inactive-hover-bg, bankai-light-theme('color-canvas-alt'));
            border-radius: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 10)};
            box-shadow: inset 0 0 4px rgba(bankai-light-theme('color-black'), 0.35);
            padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 3)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
            margin: 0 auto;
            gap: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)};
        }

        .bankai-tabs-list {
            @include bankai-flex-row;
        }

        .bankai-tab__content {
            padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 3)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
        }

        .bankai-tab {
            border-radius: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 8)};

            &--is-active {
                // @include bankai-box-shadow-subtle;
                color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
                background-color: var(--bankai-color-tabs-active-bg, bankai-light-theme('color-tabs-active-bg'));
                box-shadow: 0 0 3px rgba(bankai-light-theme('color-black'), 0.35);
                transform: scale(1.05);

                &:focus-visible {
                    @include bankai-focus-state-box-shadow(var(--bankai-color-tabs-active-focus-halo, bankai-light-theme('color-tabs-active-focus-halo')));
                }
            }
        }

        #{$this}__tabs-list-container + #{$this}__content-container {
            margin-top: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 4)};
        }
    }

    &--pointer {
        .bankai-tab {
            &:not(.bankai-tab--is-active) {
                background-color: var(--bankai-color-tabs-inactive-bg, bankai-light-theme('color-tabs-inactive-bg'));

                @media (hover: hover) {
                    &:hover {
                        background-color: var(--bankai-color-tabs-inactive-hover-bg, bankai-light-theme('color-tabs-inactive-hover-bg'));
                    }
                }
            }

            &--is-active {
                color: var(--bankai-color-tabs-active-bg, bankai-light-theme('color-tabs-active-bg'));
                background-color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));

                .bankai-tab__content::after {
                    transform: translate3d(-50%, 0, 0);
                    opacity: 1;
                }
            }

            &__content {
                position: relative;
            }

            &__content::after {
                width: 0;
                height: 0;
                border: solid transparent;
                border-width: 11px;
                border-top-color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
                transform: translate3d(-50%, -50%, 0);
                content: '';
                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: 100%;
                left: 50%;
            }
        }
    }

    &--underline {
        .bankai-tab__content::after {
            border-radius: 2px 2px 0 0;
        }
    }

    &--overline,
    &--underline {
        .bankai-tab--is-active {
            color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
        }
    }

    &--overline,
    &--overline-segmented {
        .bankai-tab {
            &__content {
                &::before {
                    content: '';
                    width: 100%;
                    height: 3px;
                    display: block;
                    background-color: var(--bankai-color-tabs-active-accent, bankai-light-theme('color-tabs-active-accent'));
                    transform: translateY(-4px);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            &--is-active .bankai-tab__content::before {
                transform: translateY(0);
            }
        }
    }

    &--underline,
    &--underline-segmented {
        .bankai-tab {
            &__content {
                &::after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    display: block;
                    background-color: var(--bankai-color-tabs-active-accent, bankai-light-theme('color-tabs-active-accent'));
                    transform: translateY(4px);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            &--is-active .bankai-tab__content::after {
                transform: translateY(0);
            }
        }
    }

    &--overline-segmented,
    &--underline-segmented {
        .bankai-tab {
            background-color: var(--bankai-color-tabs-inactive-bg, bankai-light-theme('color-tabs-inactive-bg'));
            border: 1px solid var(--bankai-color-tabs-border, bankai-light-theme('color-tabs-border'));
            border-right: none;

            &:not(.bankai-tab--is-active) {
                @media (hover: hover) {
                    &:hover {
                        background-color: var(--bankai-color-tabs-inactive-hover-bg, bankai-light-theme('color-tabs-inactive-hover-bg'));
                    }
                }
            }

            &:last-child {
                border-right: 1px solid var(--bankai-color-tabs-border, bankai-light-theme('color-tabs-border'));
            }

            &--is-active {
                background-color: var(--bankai-color-tabs-panel-bg, bankai-light-theme('color-tabs-panel-bg'));
                z-index: 2;
            }
        }
    }

    &--overline-segmented {
        .bankai-tab--is-active {
            border-top-width: 0;
            padding-bottom: 1px;
        }
    }

    &--underline-segmented {
        .bankai-tab--is-active {
            border-bottom-width: 0;
            padding-top: 1px;
        }
    }

    &--overline,
    &--overline-segmented,
    &--underline,
    &--underline-segmented {
        .bankai-tab {
            &--is-active {
                color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));

                .bankai-tab__content-inner {
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        .bankai-tab__content {
            position: relative;
            overflow: hidden;
        }
    }

    &--traditional-gapped {
        .bankai-tabs-list {
            gap: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)};
        }
    }

    &--traditional,
    &--traditional-gapped {
        .bankai-tab {
            border-radius: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 3)} 0 0;

            &:not(.bankai-tab--is-active) {
                background-color: var(--bankai-color-tabs-inactive-bg, bankai-light-theme('color-tabs-inactive-bg'));
            }

            &--is-active {
                color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
                background-color: var(--bankai-color-tabs-panel-bg, bankai-light-theme('color-tabs-panel-bg'));
            }
        }
    }

    &--bar,
    &--fill-up,
    &--flip,
    &--folder,
    &--line-box,
    &--overline,
    &--overline-segmented,
    &--pointer,
    &--traditional,
    &--traditional-gapped,
    &--underline,
    &--underline-segmented {
        .bankai-tab__content {
            padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 5)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
        }
    }

    &--bar,
    &--fill-up,
    &--flip,
    &--overline,
    &--overline-segmented,
    &--pill,
    &--pointer,
    &--traditional,
    &--traditional-gapped,
    &--underline,
    &--underline-segmented {
        .bankai-tab:not(.bankai-tab--is-active) {
            @media (hover: hover) {
                &:hover {
                    color: var(--bankai-color-tabs-inactive-hover-text, bankai-light-theme('color-tabs-inactive-hover-text'));
                    // color: $bankai-black;
                }
            }
        }
    }

    &--bar,
    &--folder,
    &--flip,
    &--overline-segmented,
    &--traditional,
    &--traditional-gapped,
    &--underline-segmented {
        .bankai-tab-panel {
            background-color: var(--bankai-color-tabs-panel-bg, bankai-light-theme('color-tabs-panel-bg'));
        }
    }

    &--has-microinteractions {
        &#{$this}--bar {
            .bankai-tab {
                transition: background-color 0.25s ease-in-out, transform 0.15s ease-in-out;
            }
        }

        &#{$this}--flip {
            .bankai-tab__content::after {
                transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
            }
        }

        &#{$this}--folder {
            .bankai-tab__content::after {
                transition: background-color 0.25s ease-in-out;
            }
        }

        &#{$this}--pointer {
            .bankai-tab {
                &:not(.bankai-tab--is-active) {
                    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
                }

                &__content::after {
                    transition: transform 0.25s ease-in-out;
                }
            }
        }

        &#{$this}--overline,
        &#{$this}--underline {
            .bankai-tab:not(.bankai-tab--is-active) {
                .bankai-tab__content {
                    transition: color 0.25s ease-in-out;
                }
            }
        }

        &#{$this}--overline,
        &#{$this}--overline-segmented {
            .bankai-tab__content::before {
                transition: transform 0.15s ease-in-out;
            }
        }

        &#{$this}--fill-up,
        &#{$this}--folder,
        &#{$this}--overline,
        &#{$this}--overline-segmented,
        &#{$this}--underline,
        &#{$this}--underline-segmented {
            .bankai-tab__content-inner {
                transition: transform 0.15s ease-in-out;
            }
        }

        &#{$this}--line-box,
        &#{$this}--fill-up {
            .bankai-tab {
                @media (hover: hover) {
                    &:hover {
                        transition: color 0.25s ease-in-out;
                    }
                }

                &__content::after {
                    transition: background-color 0.25s linear, transform 0.25s ease-in-out;
                }
            }
        }

        &#{$this}--pill {
            .bankai-tab {
                transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
            }
        }
    }

    &--is-vertical-tabs {
        @include bankai-flex-row;

        #{$this} {
            &__tabs-list-container {
                flex: 0 0 auto;
            }

            &__content-container {
                @include bankai-flex-column;
                flex: 1 1 auto;

                .bankai-tab-panel {
                    flex: 1 1 auto;
                }
            }
        }

        .bankai-tabs-list {
            // display: block;
            @include bankai-flex-column;
        }

        &#{$this}--fill-up {
            .bankai-tab {
                &__content::after {
                    transform: translate3d(101%, 0, 0);
                }

                &--is-active .bankai-tab__content::after {
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        &#{$this}--flip {
            .bankai-tab {
                &__content::after {
                    transform: perspective(900px) rotate3d(0, 1, 0, 90deg);
                    transform-origin: 100% 50%;
                }

                &--is-active .bankai-tab__content::after {
                    transform: perspective(900px) rotate3d(0, 1, 0, 0deg);
                }
            }
        }

        &#{$this}--folder {
            .bankai-tab__content::after {
                border-radius: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)} 0 0 #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)};
                transform: perspective(5px) rotateY(-0.58deg) translate3d(0, 0, -0.063em);
                transform-origin: 0 0;
            }
        }

        &#{$this}--line-box {
            .bankai-tab {
                &__content::after {
                    transform: translate3d(100%, 0, 0) translate3d(-3px, 0, 0);
                }

                &--is-active .bankai-tab__content::after {
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        &#{$this}--pill {
            #{$this}__tabs-list-container {
                border-radius: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 10)};
                box-shadow: inset 0 0 3px rgba(bankai-light-theme('color-black'), 0.25);
                padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
                margin: 0 auto;
                gap: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)};
            }
            #{$this}__tabs-list-container + #{$this}__content-container {
                margin-top: 0;
                margin-left: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 4)};
            }
        }

        &#{$this}--pointer {
            .bankai-tab {
                &__content::after {
                    border-left-color: var(--bankai-color-tabs-active-text, bankai-light-theme('color-tabs-active-text'));
                    border-top-color: transparent;
                    transform: translate3d(-50%, -50%, 0);
                    top: 50%;
                    left: 100%;
                }

                &--is-active .bankai-tab__content::after {
                    transform: translate3d(0, -50%, 0);
                }
            }
        }

        &#{$this}--traditional,
        &#{$this}--traditional-gapped {
            .bankai-tab {
                border-radius: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)} 0 0 #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)};
            }
        }

        &#{$this}--overline-segmented,
        &#{$this}--underline-segmented {
            .bankai-tab {
                border: 1px solid var(--bankai-color-tabs-border, bankai-light-theme('color-tabs-border'));
                border-top: none;
                border-right: none;

                &:first-child {
                    border-top: 1px solid var(--bankai-color-tabs-border, bankai-light-theme('color-tabs-border'));
                }
            }
        }

        &#{$this}--overline,
        &#{$this}--overline-segmented {
            .bankai-tab {
                &__content::before {
                    width: 3px;
                    height: 100%;
                    transform: translate3d(-4px, 0, 0);
                }

                &--is-active .bankai-tab__content::before {
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        &#{$this}--underline,
        &#{$this}--underline-segmented {
            .bankai-tab {
                &__content::after {
                    width: 3px;
                    height: 100%;
                    transform: translate3d(100%, 0, 0);
                    top: 0;
                    bottom: initial;
                    left: initial;
                    right: 0;
                }

                &--is-active .bankai-tab__content::after {
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        &#{$this}--overline,
        &#{$this}--overline-segmented,
        &#{$this}--underline,
        &#{$this}--underline-segmented {
            #{$this}__tabs-list-container,
            .bankai-tab {
                @include bankai-flex-column;
            }

            .bankai-tabs-list,
            .bankai-tab__content {
                flex: 1 1 auto;
            }
        }

        &#{$this}--overline-segmented {
            .bankai-tab--is-active {
                border-left-width: 0;
                padding-right: 1px;
                padding-bottom: 0;
            }
        }

        &#{$this}--underline-segmented {
            .bankai-tab--is-active {
                border-right-width: 0;
                padding-top: 0;
                padding-left: 1px;
            }
        }

        &#{$this}--fill-up,
        &#{$this}--folder,
        &#{$this}--overline,
        &#{$this}--overline-segmented,
        &#{$this}--underline,
        &#{$this}--underline-segmented {
            .bankai-tab {
                .bankai-tab__content-inner {
                    transform: translate3d(5px, 0, 0);
                }

                &--is-active .bankai-tab__content-inner {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}
