// ========================================================
// Dependencies
// ========================================================

.component-2 {
    display: flex;
    padding: 3rem;
    margin: 0;
}
