// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-text-input-guide {
    &__examples-preview .bankai-sb-component-preview {
        @include bankai-flex-row;
        flex-wrap: wrap;
        gap: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 3)};

        .bankai-text-input {
            flex: 0 0 auto;
        }
    }
}
