// ========================================================
// Dependencies
// ========================================================
@import '@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';

.bankai-sb-textarea-guide {
    &__examples-preview {
        @include bankai-flex-row;
        flex-wrap: wrap;

        .bankai-textarea {
            margin: 5px;
            flex: 0 0 auto;
        }
    }
}
