// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-color-palette-gen-swatch-menu-op {
    @include layout.bankai-flex-row;
    gap: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-02-x);

    &__swatch {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        display: block;
    }

    &__value {
        margin: auto 0;
    }
}