// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/vars/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/vars/colors.scss';

.bankai-sb-typography-system-guide {
    .bankai-sb-typography-list + .bankai-sb-section {
        margin-top: 15px;
    }

    .bankai-sb-component-preview {
        // ========================================================
        // Headings
        // ========================================================
        --bankai-h5-font-size: calc(var(--bankai-type-base-size) * var(--bankai-type-size-ratio));
        --bankai-h4-font-size: calc(var(--bankai-h5-font-size) * var(--bankai-type-size-ratio));
        --bankai-h3-font-size: calc(var(--bankai-h4-font-size) * var(--bankai-type-size-ratio));
        --bankai-h2-font-size: calc(var(--bankai-h3-font-size) * var(--bankai-type-size-ratio));
        --bankai-h1-font-size: calc(var(--bankai-h2-font-size) * var(--bankai-type-size-ratio));
        // ========================================================
        // Body
        // ========================================================
        --bankai-sub-text-size: calc(var(--bankai-type-base-size, $bankai-type-base-size) / var(--bankai-type-size-ratio, $bankai-type-size-ratio));
        --bankai-footnote-text-size: calc(var(--bankai-sub-text-size, $bankai-sub-text-size) / var(--bankai-type-size-ratio, $bankai-type-size-ratio));

        .bankai-heading + .bankai-heading {
            margin-top: 15px;
        }
    }

    &__paragraph {
        font-size: var(--bankai-type-base-size, $bankai-type-base-size);
    }

    &__sub-text {
        font-size: var(--bankai-sub-text-size, $bankai-sub-text-size);
    }

    &__footnote {
        font-size: var(--bankai-footnote-text-size, $bankai-footnote-text-size);
    }

    &__sub-text,
    &__footnote {
        color: $bankai-text-color-alt;
    }
}
