// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/vars/breakpoints.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-sticky-section {
    $this: &;

    &--slim &__inner {
        @include bankai-shadow-elevation-medium;
        width: 100%;
        background-color: var(--bankai-core-color-canvas, bankai-light-theme('core-color-canvas'));
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1020;
    }
}
