// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-section {
    box-sizing: border-box;
    border-radius: #{bankai-to-px(bankai-light-theme('core-system-scale') * 4)};

    .bankai-sb-section-title + * {
        margin-top: #{bankai-to-px(bankai-light-theme('core-system-scale') * 4)};
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
