// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-ui-icons/src/styles/iconography.scss';
@import '~@epr0t0type/bankai-ui-theme-utils/src/styles/index.scss';
@import '~@epr0t0type/bankai-ui-theme-utils/src/styles/vars/colors.scss';
@import '~@epr0t0type/bankai-ui-style-utils/src/styles/mixins/layout.scss';
@import '../../mixins/mixins.scss';

// stylelint-disable-next-line selector-max-id
html,
body,
#root {
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     @include flex-column;
// }

// stylelint-disable-next-line selector-max-id
// #root {
//     flex: 1 1 auto;
// }

.sb-show-main.sb-main-padded {
    // @include flex-column;
    padding: 0;
}

.bankai-sb-layout {
    @include bankai-scroll-y;
    height: 100%;
    background: radial-gradient(circle, $gray-95 0%, $gray-70 100%);
    box-sizing: border-box;

    &__header {
        @include bankai-glass-mixin();
        box-sizing: border-box;
        padding: 1.5rem;
    }

    &__header + &__content {
        padding: 1.5rem;
        margin-top: 15px;
    }

    .bankai-sb-section + .bankai-sb-section {
        margin-top: 15px;
    }

    &__header-subtitle {
        color: $bankai-gray-30;
        font-style: italic;
        margin: 0;
    }
}
