// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/vars/breakpoints.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/index.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

// stylelint-disable-next-line selector-max-id
html,
body,
#root {
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

.sb-show-main.sb-main-padded {
    padding: 0;
}

.bankai-sb-layout {
    @include bankai-scroll-y;
    height: 100%;
    background-color: var(--bankai-color-canvas, bankai-light-theme('color-canvas'));
    box-sizing: border-box;
    $this: &;

    &__header {
        box-sizing: border-box;
        padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 8)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 8)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
    }

    &__content {
        box-sizing: border-box;
        padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 8)};
    }

    &__header + &__content {
        padding-top: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
    }

    .bankai-sb-section + .bankai-sb-section {
        margin-top: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 11)};
    }

    * + &__package-badges {
        margin-top: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 2)};
    }

    &__header-subtitle {
        color: var(--bankai-color-text-alt, bankai-light-theme('color-text-alt'));
        font-style: italic;
        margin: 0;
    }

    * + .bankai-callout-memo,
    .bankai-callout-memo + * {
        margin-top: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
    }

    * + .bankai-sb-collapsible-dt-section,
    .bankai-sb-collapsible-dt-section + * {
        margin-top: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 7)};
    }

    @include bankai-breakpoint-max-only($bankai-s-min) {
        &__header {
            padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 8)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
        }

        &__content {
            box-sizing: border-box;
            padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 8)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
        }
    }
}
