// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-sb-comp-import-and-usage {
    .bankai-paragraph {
        margin: 0;
    }

    .bankai-paragraph + .bankai-sb-code-block {
        margin-top: bankai-to-rem($bankai-core-spacing-02-x);
    }

    &__import-container + &__usage-container {
        margin-top: bankai-to-rem($bankai-core-spacing-06-x);
    }

    + * {
        margin-top: bankai-to-rem($bankai-core-spacing-06-x);
    }
}
