// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-avatar-group, %bankai-avatar-group {
    @include layout.bankai-flex-row;
    box-sizing: border-box;
    gap: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-03-x);

    > * {
        flex: 0 0 auto;
    }

    &--overlap {
        gap: 0;

        > * {
            @include effects.bankai-shadow-elevation-medium;
            margin-left: -0.25em;
        }

        > :first-child {
            margin-left: 0;
        }
    }
}
