// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-avatar, %bankai-avatar {
    @include layout.bankai-flex-row;
    width: 1em;
    height: 1em;
    color: var(--bankai-avatar-text-color, theme-utils.bankai-get-light-theme-map-value('avatar-text-color'));
    background-color: var(--bankai-avatar-bg-color, theme-utils.bankai-get-light-theme-map-value('avatar-bg-color'));
    box-sizing: border-box;
    border-radius: 100%;
    font-size: 50px;
    text-align: center;

    &__inner {
        height: 1em;
        font-size: calc(1em * 0.44);
        line-height: 1;
        user-select: none;
        display: block;
        margin: auto;
    }

    &--img {
        background-position: center;
        background-size: cover;
    }

    &--has-border {
        border: Min(0.04em, 1px) solid var(--bankai-avatar-border-color, theme-utils.bankai-get-light-theme-map-value('avatar-border-color'));
    }
}
