// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-avatar, %bankai-avatar {
    @include bankai-flex-row;
    width: 1em;
    height: 1em;
    color: var(--bankai-color-avatar-text, bankai-light-theme('color-avatar-text'));
    background-color: var(--bankai-color-avatar-bg, bankai-light-theme('color-avatar-bg'));
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;

    &__inner {
        // width: 1em;
        height: 1em;
        font-size: calc(1em * 0.44);
        line-height: 1;
        user-select: none;
        display: block;
        margin: auto;
    }

    &--img {
        background-position: center;
        background-size: cover;
    }

    &--circle {
        border-radius: 100%;
    }

    &--rounded-square {
        border-radius: calc(1em * 0.1);
    }

    &--has-border {
        border: Min(0.04em, 1px) solid var(--bankai-color-avatar-border, bankai-light-theme('color-avatar-border'));
    }
}
