// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-avatar-group, %bankai-avatar-group {
    @include bankai-flex-row;
    box-sizing: border-box;
    gap: bankai-to-rem($bankai-core-spacing-03-x);

    > * {
        flex: 0 0 auto;
    }

    &--overlap {
        gap: 0;

        > * {
            @include bankai-shadow-elevation-medium;
            margin-left: -0.25em;
        }

        > :first-child {
            margin-left: 0;
        }
    }
}
