// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-color-token-card-list {
    @include layout.bankai-flex-row;
    gap: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-04-x);
    flex-wrap: wrap;

    .bankai-sb-color-swatch {
        width: 31.4rem;
    }
}