// ========================================================
// Dependencies
// ========================================================
@use 'sass:color';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-iconography-list-item {
    @include bankai-button-reset;
    @include bankai-focus-state-halo;
    @include bankai-box-shadow-subtle;
    width: 180px;
    color: inherit;
    background-color: var(--bankai-color-canvas-alt, bankai-light-theme('color-canvas-alt'));
    box-sizing: border-box;
    border-radius: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
    padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 3)};

    @media (hover: hover) {
        &:hover {
            transform: scale(1.03);
            cursor: pointer;
        }
    }

    &:active {
        box-shadow: inset 0 0 2px color.change(bankai-light-theme('color-black'), $alpha: 0.4);
        transform: scale(0.975);
    }

    &__icon-container {
        font-size: 4.5rem;
    }

    &__icon-safe-area {
        @include bankai-flex-row;
        width: 4.5rem;
        height: 4.5rem;
        margin: auto;
    }

    &__text-container {
        font-size: 1.2rem;
    }

    &__text {
        text-align: center;
        margin: auto;
    }

    &__icon-container,
    &__text-container {
        @include bankai-flex-row;
    }

    &__icon-container + &__text-container {
        margin-top: #{bankai-to-px(bankai-light-theme('layout-grid-base'))};
    }

    // MODS
    &--copied {
        background-color: var(--bankai-color-affirmative, bankai-light-theme('color-affirmative'));
        border-color: var(--bankai-color-affirmative, bankai-light-theme('color-affirmative'));
    }
}
