// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/vars/colors.scss';
@import '../../mixins/mixins.scss';

.bankai-sb-iconography-list-item {
    @include bankai-button-reset;
    @include bankai-focus-state-halo;
    @include bankai-box-shadow-subtle;
    width: 180px;
    background-color: var(--bankai-canvas-alt, $bankai-canvas-alt);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1rem;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.03);
            cursor: pointer;
        }
    }

    &:active {
        box-shadow: inset 0 0 2px rgba(#000, 0.4);
        transform: scale(0.975);
    }

    &__icon-container {
        font-size: 4.5rem;
    }

    &__icon-safe-area {
        @include bankai-flex-row;
        width: 4.5rem;
        height: 4.5rem;
        margin: auto;
    }

    &__text-container {
        font-size: 1.2rem;
    }

    &__text {
        text-align: center;
        margin: auto;
    }

    &__icon-container,
    &__text-container {
        @include bankai-flex-row;
    }

    &__icon-container + &__text-container {
        margin-top: 5px;
    }

    // MODS
    &--copied {
        background-color: $bankai-affirmative-color;
        border-color: $bankai-affirmative-color;
    }
}
