// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-ui-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-ui-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-ui-style-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-ui-theme-utils/src/styles/vars/colors.scss';
@import '../../mixins/mixins.scss';

.bankai-sb-iconography-list-item {
    @include bankai-button-reset;
    @include bankai-glass-mixin;
    @include bankai-focus-state-halo;
    width: 180px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1rem;
    // transition: all 0.2s ease-in-out;

    @media (hover: hover) {
        &:hover {
            // transform: translate3d(2px, -2px, 0);
            transform: scale(1.03);
            cursor: pointer;
        }
    }

    &:active {
        transform: scale(0.975);
    }

    &__icon-container {
        font-size: 4.5rem;
    }

    &__icon-safe-area {
        @include bankai-flex-row;
        width: 4.5rem;
        height: 4.5rem;
        margin: auto;
    }

    &__text-container {
        font-size: 1.2rem;
    }

    &__text {
        // color: $bankai-neutral-30;
        text-align: center;
        margin: auto;
    }

    &__icon-container,
    &__text-container {
        @include bankai-flex-row;
    }

    &__icon-container + &__text-container {
        margin-top: 5px;
    }

    // MODS
    &--copied {
        background-color: $bankai-affirmative-color;
        border-color: $bankai-affirmative-color;
        // @include bankai-glass-mixin($bankai-affirmative-color);
        // @include bankai-glass-mixin($bankai-affirmative-color);
    }
}
