// ========================================================
// Dependencies
// ========================================================
@use 'sass:color';
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-typography-list-item {
    background-color: var(--bankai-color-canvas-alt, bankai-light-theme('color-canvas-alt'));
    width: 140px;
    box-shadow: inset 0 1px 3px 1px color.change(bankai-light-theme('color-black'), $alpha: 0.1);
    box-sizing: border-box;
    border-radius: #{bankai-to-px(bankai-light-theme('layout-grid-base') * 4)};
    padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 3)};

    &__category {
        font-style: italic;
        font-size: var(--bankai-typography-footnote-font-size, bankai-light-theme('typography-footnote-font-size'));
    }

    &__example {
        font-size: 5rem;
        line-height: 1;
    }

    &__category,
    &__font-family-name {
        color: var(--bankai-color-text-alt, bankai-light-theme('color-text-alt'));
    }

    &__category,
    &__example,
    &__font-family-name {
        display: block;
    }

    &--exo .bankai-sb-typography-list-item__example {
        font-family: var(--bankai-typography-heading-font-name, bankai-light-theme('typography-heading-font-name')), var(--bankai-typography-heading-font-fallback, bankai-light-theme('typography-heading-font-fallback'));
    }

    &--titillium-web .bankai-sb-typography-list-item__example {
        font-family: var(--bankai-typography-body-font-name, bankai-light-theme('typography-body-font-name')), var(--bankai-typography-body-font-fallback, bankai-light-theme('typography-body-font-fallback'));
    }
}
