// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-base-accordion__item-trigger, %bankai-base-accordion__item-trigger {
    .bankai-accordion__item-button {
        @include layout.bankai-flex-row;
    }

    .bankai-base-accordion {
        &__text-container {
            min-width: 1px;
            flex: 1 1 auto;
        }

        &__icon-container {
            @include layout.bankai-flex-column;
            flex: 0 0 auto;
        }

        &__icon {
            font-size: 1.25em;
            margin: auto;
            flex: 0 0 auto;
        }

        &__text-container,
        &__icon-container {
            box-sizing: border-box;
            padding: #{unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-03-x)};
        }

        &__item-button {
            .bankai-icon-chevron-down {
                transition: transform 0.25s ease;
            }

            &--is-expanded {
                .bankai-icon-chevron-down {
                    transform: scaleY(-1);
                }
            }
        }
    }
}
