$bankai-icon-font-family: 'bankai-icons' !default;
$bankai-icon-font-path: '~@epr0t0type/bankai-ui-icons/src/media/fonts/' !default;

$bankai-icon-spinner: '\e983';
$bankai-icon-copy: '\e978';
$bankai-icon-trash-2: '\e96a';
$bankai-icon-log-in: '\e900';
$bankai-icon-log-out: '\e901';
$bankai-icon-maximize-2: '\e902';
$bankai-icon-minimize-2: '\e903';
$bankai-icon-settings: '\e904';
$bankai-icon-user: '\e905';
$bankai-icon-user-plus: '\e906';
$bankai-icon-user-x: '\e907';
$bankai-icon-users: '\e908';
$bankai-icon-upload-cloud: '\e909';
$bankai-icon-filter: '\e90a';
$bankai-icon-align-center: '\e90b';
$bankai-icon-align-justify: '\e90c';
$bankai-icon-align-left: '\e90d';
$bankai-icon-align-right: '\e90e';
$bankai-icon-android: '\e90f';
$bankai-icon-apple: '\e910';
$bankai-icon-arrow-down: '\e911';
$bankai-icon-arrow-left: '\e912';
$bankai-icon-arrow-right: '\e913';
$bankai-icon-arrow-up: '\e914';
$bankai-icon-arrows-fullscreen: '\e915';
$bankai-icon-attachment: '\e916';
$bankai-icon-background-color: '\e917';
$bankai-icon-bar-chart: '\e918';
$bankai-icon-bell-off: '\e919';
$bankai-icon-bell: '\e91a';
$bankai-icon-bold: '\e91b';
$bankai-icon-calendar: '\e91c';
$bankai-icon-camera: '\e91d';
$bankai-icon-check: '\e91e';
$bankai-icon-chevron-down: '\e91f';
$bankai-icon-chevron-left: '\e920';
$bankai-icon-chevron-right: '\e921';
$bankai-icon-chevron-up: '\e922';
$bankai-icon-chevrons-down: '\e923';
$bankai-icon-chevrons-left: '\e924';
$bankai-icon-chevrons-right: '\e925';
$bankai-icon-chevrons-up: '\e926';
$bankai-icon-clear-format: '\e927';
$bankai-icon-clock: '\e928';
$bankai-icon-close-circle: '\e929';
$bankai-icon-close: '\e92a';
$bankai-icon-cloud: '\e92b';
$bankai-icon-color: '\e92c';
$bankai-icon-credit-card: '\e92d';
$bankai-icon-crop: '\e92e';
$bankai-icon-dashboard: '\e92f';
$bankai-icon-discord: '\e930';
$bankai-icon-eye-close: '\e931';
$bankai-icon-eye: '\e932';
$bankai-icon-facebook: '\e933';
$bankai-icon-flag: '\e934';
$bankai-icon-folder-open: '\e935';
$bankai-icon-folder-zip: '\e936';
$bankai-icon-folder: '\e937';
$bankai-icon-gamepad-retro: '\e938';
$bankai-icon-header: '\e939';
$bankai-icon-help: '\e93a';
$bankai-icon-home: '\e93b';
$bankai-icon-id-card: '\e93c';
$bankai-icon-indent: '\e93d';
$bankai-icon-info: '\e93e';
$bankai-icon-instagram: '\e93f';
$bankai-icon-italic: '\e940';
$bankai-icon-link: '\e941';
$bankai-icon-linkedin: '\e942';
$bankai-icon-map-marker: '\e943';
$bankai-icon-map: '\e944';
$bankai-icon-message: '\e945';
$bankai-icon-minus-circle: '\e946';
$bankai-icon-movie: '\e947';
$bankai-icon-music: '\e948';
$bankai-icon-newspaper: '\e949';
$bankai-icon-opera: '\e94a';
$bankai-icon-padlock-open: '\e94b';
$bankai-icon-padlock: '\e94c';
$bankai-icon-paper-plane: '\e94d';
$bankai-icon-pencil: '\e94e';
$bankai-icon-phone: '\e94f';
$bankai-icon-picture: '\e950';
$bankai-icon-pinterest: '\e951';
$bankai-icon-plus-circle: '\e952';
$bankai-icon-power: '\e953';
$bankai-icon-printer: '\e954';
$bankai-icon-redo: '\e955';
$bankai-icon-refresh: '\e956';
$bankai-icon-repeat: '\e957';
$bankai-icon-save: '\e958';
$bankai-icon-scissors: '\e959';
$bankai-icon-screen: '\e95a';
$bankai-icon-search-minus: '\e95b';
$bankai-icon-search-plus: '\e95c';
$bankai-icon-search: '\e95d';
$bankai-icon-settings-alt: '\e95e';
$bankai-icon-share-alt: '\e95f';
$bankai-icon-shopping-cart: '\e960';
$bankai-icon-shuffle: '\e961';
$bankai-icon-star-full: '\e962';
$bankai-icon-star-half: '\e963';
$bankai-icon-star: '\e964';
$bankai-icon-stop-sign: '\e965';
$bankai-icon-subscript: '\e966';
$bankai-icon-superscript: '\e967';
$bankai-icon-tablet: '\e968';
$bankai-icon-task-list: '\e969';
$bankai-icon-triangle-danger: '\e96b';
$bankai-icon-twitch: '\e96c';
$bankai-icon-twitter: '\e96d';
$bankai-icon-underline: '\e96e';
$bankai-icon-undo: '\e96f';
$bankai-icon-unindent: '\e970';
$bankai-icon-unordered-list: '\e971';
$bankai-icon-volume-down: '\e972';
$bankai-icon-volume-mute: '\e973';
$bankai-icon-volume-up: '\e974';
$bankai-icon-volume: '\e975';
$bankai-icon-write: '\e976';
$bankai-icon-youtube: '\e977';
