// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-scales-vars.scss';

.bankai-hyperlink, %bankai-hyperlink {
    @include bankai-focus-state-halo;
    color: var(--bankai-link-text-color, bankai-get-light-theme-map-value('link-text-color'));
    text-decoration: none;
    border-radius: #{bankai-to-px($bankai-core-system-scale)};
    $this: '.bankai-hyperlink';

    &:focus-visible {
        @include bankai-focus-state-box-shadow(var(--bankai-link-focus-halo-color, bankai-get-light-theme-map-value('link-focus-halo-color')));
    }

    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}
