// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-sb-section-color-palette {
    .bankai-form-layout-row {
        > :first-child {
            flex: 1 1 auto;
        }

        > :last-child {
            flex: 0 1 auto;
        }
    }

    .bankai-form-layout-row + .bankai-list {
        margin-top: bankai-to-rem($bankai-core-spacing-04-x);
    }
}