// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/animations.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './mixins.scss';

.bankai-button, %bankai-button {
    @include bankai-button-reset;
    @include bankai-focus-state-halo;
    @include bankai-hover-state;
    @include bankai-disabled-state;
    $this: '.bankai-button';
    color: inherit;
    background-color: var(--bankai-color-canvas, bankai-light-theme('color-canvas'));
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: var(--bankai-btn-border-radius, bankai-light-theme('btn-border-radius'));

    &__content-container {
        display: inline-block;
        padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base'))} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 2)};
    }

    &__text-container {
        line-height: var(--bankai-typography-line-height, bankai-light-theme('typography-line-height'));
    }

    &__icon-container {
        vertical-align: middle;
    }

    &__text-container,
    &__icon-container {
        box-sizing: border-box;
        user-select: none;
        display: inline-block;
        padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base'))};
    }

    &__icon-container + &__text-container {
        vertical-align: middle;
    }

    &__icon-safe-space {
        @include bankai-flex-row;
        width: bankai-light-theme('btn-icon-font-size');
        vertical-align: middle;
        box-sizing: border-box;
    }

    &__icon {
        @include bankai-flex-row;
        vertical-align: middle;
        font-size: bankai-light-theme('btn-icon-font-size');
        margin: auto;
        flex: 0 0 auto;

        .bankai-icon {
            margin: auto;
        }
    }

    &--primary {
        color: var(--bankai-color-btn-primary-default-text, bankai-light-theme('color-btn-primary-default-text'));
        background-color: var(--bankai-color-btn-primary-default-bg, bankai-light-theme('color-btn-primary-default-bg'));
        border-color: var(--bankai-color-btn-primary-default-border, bankai-light-theme('color-btn-primary-default-border'));

        &:focus-visible {
            @include bankai-button-primary-focus-visible;
        }

        @media (hover: hover) {
            &:enabled:hover {
                @include bankai-button-primary-hover;
            }
        }
    }

    &--secondary {
        color: var(--bankai-color-btn-secondary-default-text, bankai-light-theme('color-btn-secondary-default-text'));
        background-color: var(--bankai-color-btn-secondary-default-bg, bankai-light-theme('color-btn-secondary-default-bg'));
        border-color: var(--bankai-color-btn-secondary-default-border, bankai-light-theme('color-btn-secondary-default-border'));

        &:focus-visible {
            @include bankai-button-secondary-focus-visible;
        }

        @media (hover: hover) {
            &:enabled:hover {
                @include bankai-button-secondary-hover;
            }
        }
    }

    &--primary-destructive {
        color: var(--bankai-color-btn-primary-destructive-default-text, bankai-light-theme('color-btn-primary-destructive-default-text'));
        background-color: var(--bankai-color-btn-primary-destructive-default-bg, bankai-light-theme('color-btn-primary-destructive-default-bg'));
        border-color: var(--bankai-color-btn-primary-destructive-default-border, bankai-light-theme('color-btn-primary-destructive-default-border'));

        &:focus-visible {
            @include bankai-button-destructive-focus-visible;
        }

        @media (hover: hover) {
            &:enabled:hover {
                @include bankai-button-primary-destructive-hover;
            }
        }
    }

    &--secondary-destructive {
        color: var(--bankai-color-btn-secondary-destructive-default-text, bankai-light-theme('color-btn-secondary-destructive-default-text'));
        background-color: var(--bankai-color-btn-secondary-destructive-default-bg, bankai-light-theme('color-btn-secondary-destructive-default-bg'));
        border-color: var(--bankai-color-btn-secondary-destructive-default-border, bankai-light-theme('color-btn-secondary-destructive-default-border'));

        &:focus-visible {
            @include bankai-button-destructive-focus-visible;
        }

        @media (hover: hover) {
            &:enabled:hover {
                @include bankai-button-secondary-destructive-hover;
            }
        }
    }

    // stylelint-disable no-descending-specificity
    &--primary,
    &--secondary,
    &--destructive,
    &--primary-destructive,
    &--secondary-destructive {
        &:active:enabled {
            @include bankai-button-active;
        }
    }

    &--busy {
        .bankai-icon-spinner {
            @include bankai-rotate-infinite;
        }

        .bankai-icon-spinner::before {
            transform: translate3d(0.1px, -0.2px, 0);
        }
    }
}
