// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use './mixins.scss' as button-mixins;

.bankai-button {
    $this: '.bankai-button';

    &#{$this}--primary {
        color: var(--bankai-button-primary-text-color, theme-utils.bankai-get-light-theme-map-value('button-primary-text-color'));
        background-color: var(--bankai-button-primary-bg-color, theme-utils.bankai-get-light-theme-map-value('button-primary-bg-color'));
        border-color: var(--bankai-button-primary-border-color, theme-utils.bankai-get-light-theme-map-value('button-primary-border-color'));
        border-radius: var(--bankai-button-border-radius, theme-utils.bankai-get-light-theme-map-value('button-border-radius'));
    
        &:focus-visible {
            @include button-mixins.bankai-button-primary-focus-visible;
        }
    
        &:not(#{$this}--disabled):active {
            @include button-mixins.bankai-button-active;
            @include button-mixins.bankai-button-primary-active;
        }
    
        @media (hover: hover) {
            &:not(#{$this}--disabled):hover {
                @include button-mixins.bankai-button-primary-hover;
            }
        }
    }
}
