// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './mixins.scss';

.bankai-link-button, %bankai-link-button {
    @include bankai-button-reset;
    @include bankai-focus-state-halo;
    @include bankai-hover-state;
    color: var(--bankai-link-text-color, bankai-light-theme('link-text-color'));
    background-color: transparent;
    box-sizing: border-box;
    border-radius: #{bankai-to-px(bankai-light-theme('core-system-scale'))};
    $this: '.bankai-link-button';

    @media (hover: hover) {
        &:hover #{$this}__text {
            @include bankai-link-button-hover;
        }
    }

    &:focus-visible {
        @include bankai-link-button-focus-visible;
    }

    &__content-container {
        display: inline-block;
    }

    &__text-container {
        line-height: var(--bankai-core-typography-line-height, bankai-light-theme('core-typography-line-height'));
    }

    &__icon-container {
        vertical-align: middle;
    }

    &__text-container,
    &__icon-container {
        box-sizing: border-box;
        user-select: none;
        display: inline-block;
    }

    &__icon-container + &__text-container {
        vertical-align: middle;
        margin-left: #{bankai-to-px(bankai-light-theme('core-system-scale') * 4)};
    }

    &__icon-safe-space {
        @include bankai-flex-row;
        vertical-align: middle;
        box-sizing: border-box;
    }

    &__icon {
        @include bankai-flex-row;
        vertical-align: middle;
        margin: auto;
        flex: 0 0 auto;

        .bankai-icon {
            margin: auto;
        }
    }
}
