// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use './mixins.scss' as button-mixins;

.bankai-link-button, %bankai-link-button {
    @include resets.bankai-button-reset;
    @include states.bankai-focus-state-halo;
    color: var(--bankai-link-text-color, theme-utils.bankai-get-light-theme-map-value('link-text-color'));
    background-color: transparent;
    box-sizing: border-box;
    // Necessary to enforce proper line height. Without this the CSS reset will set it to 1.15
    line-height: inherit;
    $this: '.bankai-link-button';

    @media (hover: hover) {
        &:hover #{$this}__text {
            @include button-mixins.bankai-link-button-hover;
        }
    }

    &:focus-visible {
        @include button-mixins.bankai-link-button-focus-visible;
    }

    &__content-container {
        display: inline-block;
    }
}
