// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import './button.scss';

.bankai-menu-button {
    display: inline-block;
    position: relative;

    &__button {
        @extend .bankai-button;
    }

    &__menu {
        @include bankai-box-shadow-elevated($bankai-black);
        background-color: var(--bankai-canvas-primary, $bankai-canvas-primary);
        border-radius: var(--bankai-btn-border-radius, $bankai-btn-border-radius);
        position: absolute;
        top: 100%;
        z-index: 1000;
    }

    &__menu-list {
        @include bankai-list-reset;
    }

    &__menu-list-option {
        @include bankai-flex-column;
    }

    &__menu-list-option:first-child .bankai-menu-button-option {
        border-radius: var(--bankai-btn-border-radius, $bankai-btn-border-radius) var(--bankai-btn-border-radius, $bankai-btn-border-radius) 0 0;
    }

    &__menu-list-option:last-child .bankai-menu-button-option {
        border-radius: 0 0 var(--bankai-btn-border-radius, $bankai-btn-border-radius) var(--bankai-btn-border-radius, $bankai-btn-border-radius);
    }
}
