// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './button.scss';

.bankai-menu-button, %bankai-menu-button {
    display: inline-block;
    position: relative;

    &__button {
        @extend %bankai-button;
    }

    .bankai-button {
        &__icon-safe-space {
            width: 1em;
        }

        &__icon {
            font-size: inherit;
        }
    }

    &__menu {
        @include bankai-box-shadow-elevated;
        background-color: var(--bankai-core-color-canvas, bankai-light-theme('core-color-canvas'));
        border: 1px solid var(--bankai-core-color-universal-decorative-border, bankai-light-theme('core-color-universal-decorative-border'));
        border-radius: var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius'));
        position: absolute;
        top: calc(100% + 3px);
        z-index: 1000;
    }

    &__menu-list {
        @include bankai-list-reset;
    }

    &__menu-list-option {
        @include bankai-flex-column;
    }

    &__menu-list-option:first-child .bankai-menu-button-option {
        border-radius: calc(var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius')) - 1px) calc(var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius')) - 1px) 0 0;
    }

    &__menu-list-option:last-child .bankai-menu-button-option {
        border-radius: 0 0 calc(var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius')) - 1px) calc(var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius')) - 1px);
    }
}
