// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use './base-button-mixin.scss' as base-button;

.bankai-menu-button-option, %bankai-menu-button-option {
    @include resets.bankai-button-reset;
    @include states.bankai-focus-state-halo;
    color: inherit;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-align: left;
    // Necessary to enforce proper line height. Without this the CSS reset will set line-height to 1.15
    line-height: inherit;
    white-space: nowrap;
    // Moved includes here to remove warnings about this breaking change:
    // https://sass-lang.com/documentation/breaking-changes/mixed-decls/
    @include states.bankai-disabled-state;
    @include states.bankai-hover-state;
    $this: '.bankai-menu-button-option';

    @media (hover: hover) {
        &:enabled:hover {
            background-color: var(--bankai-semantic-color-hover-bg, theme-utils.bankai-get-light-theme-map-value('semantic-color-hover-bg'));
        }
    }

    &__content-container {
        @include base-button.bankai-button-base-content-container;
    }

    &__text,
    &__icon-safe-space,
    &__icon-container-inner {
        @include base-button.bankai-button-box-sizing-display-block
    }

    &__icon-container {
        font-size: 2rem;
    }

    &__text-container,
    &__icon-container {
        @include base-button.bankai-button-base-text-icon-container;
    }

    &__icon-container-inner {
        font-size: 100%;
    }

    &--destructive {
        color: var(--bankai-button-secondary-destructive-text-color, bankai-get-light-theme-map-value('button-secondary-destructive-text-color'));

        @media (hover: hover) {
            &:enabled:hover {
                color: var(--bankai-button-secondary-destructive-hover-text-color, bankai-get-light-theme-map-value('button-secondary-destructive-hover-text-color'));
            }
        }
    }

    .bankai-icon {
        display: block;
    }
}
