// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './button.scss';

.bankai-menu-button-option, %bankai-menu-button-option {
    @include bankai-button-reset;
    @include bankai-focus-state-halo;
    @include bankai-hover-state;
    @include bankai-disabled-state;
    color: inherit;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-align: left;
    white-space: nowrap;
    $this: '.bankai-menu-button-option';

    @media (hover: hover) {
        &:enabled:hover {
            background-color: var(--bankai-semantic-color-universal-hover-bg, bankai-get-light-theme-map-value('semantic-color-universal-hover-bg'));
        }
    }

    &__content-container {
        @extend %bankai-button__content-container;
    }

    &__text-container {
        @extend %bankai-button__text-container;
    }

    &__text {
        @extend %bankai-button__text;
    }

    &__icon-container {
        @extend %bankai-button__icon-container;
    }

    &__icon-safe-space {
        @extend %bankai-button__icon-container-safe-space;
    }

    &__icon-container-inner {
        @extend %bankai-button__icon-container-inner;
        font-size: 100%;
    }

    &--destructive {
        color: var(--bankai-btn-secondary-destructive-text-color, bankai-get-light-theme-map-value('btn-secondary-destructive-text-color'));

        @media (hover: hover) {
            &:enabled:hover {
                color: var(--bankai-btn-secondary-destructive-hover-text-color, bankai-get-light-theme-map-value('btn-secondary-destructive-hover-text-color'));
            }
        }
    }
}
