// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-state-vars.scss' as state-vars;

.bankai-split-button, %bankai-split-button {
    box-sizing: border-box;
    border-radius: var(--bankai-button-border-radius, theme-utils.bankai-get-light-theme-map-value('button-border-radius'));
    display: inline-block;
    padding: var(--bankai-button-border-width, theme-utils.bankai-get-light-theme-map-value('button-border-width'));
    $this: '.bankai-split-button';
    $inner-border-radius: calc(var(--bankai-button-border-radius, theme-utils.bankai-get-light-theme-map-value('button-border-radius')) - var(--bankai-button-border-width, theme-utils.bankai-get-light-theme-map-value('button-border-width')));

    &__inner {
        @include layout.bankai-flex-row;
        gap: var(--bankai-button-border-width, theme-utils.bankai-get-light-theme-map-value('button-border-width'));
    }

    &__menu-btn,
    &__main-btn,
    .bankai-menu-button,
    .bankai-menu-button__button {
        height: 100%;
    }

    &__main-btn-container .bankai-button {
        border-radius: $inner-border-radius 0 0 $inner-border-radius;
    }

    .bankai-menu-button__button {
        border-radius: 0 $inner-border-radius $inner-border-radius 0;

        .bankai-button__icon-safe-space {
            width: 1em;
        }

        .bankai-button__icon {
            font-size: 1em;
        }

        .bankai-button__content-container {
            padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-01-x);
        }
    }

    &__main-btn-container .bankai-button,
    .bankai-menu-button__button {
        border: none;

        &:active {
            transform: scale(1);
        }

        &:focus-visible {
            position: relative;
            z-index: 1;
        }
    }

    .bankai-menu-button__menu {
        margin-top: 1px;
    }

    .bankai-menu-button__menu,
    .bankai-menu-button__menu-list-option:first-child .bankai-menu-button-option {
        border-top-left-radius: 0;
    }

    &--disabled {
        opacity: var(--bankai-semantic-state-disabled-opacity, state-vars.$bankai-core-state-disabled-opacity);

        #{$this}__main-btn[aria-disabled],
        .bankai-menu-button__button:disabled {
            opacity: 1;
        }
    }

    &--primary {
        background-color: var(--bankai-btn-split-primary-border-color, theme-utils.bankai-get-light-theme-map-value('btn-split-primary-border-color'));
    }

    &--secondary {
        background-color: var(--bankai-btn-split-secondary-border-color, theme-utils.bankai-get-light-theme-map-value('btn-split-secondary-border-color'));
    }
}
