// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-state-vars.scss';

.bankai-split-button, %bankai-split-button {
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: var(--bankai-btn-border-radius, bankai-get-light-theme-map-value('btn-border-radius'));
    display: inline-block;
    $this: '.bankai-split-button';

    &__menu-btn-container {
        border-left: 1px solid transparent;
    }

    &__inner {
        @include bankai-flex-row;
    }

    &__menu-btn,
    &__main-btn,
    .bankai-menu-button__button {
        height: 100%;
    }

    &__main-btn-container .bankai-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .bankai-menu-button__button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        .bankai-button__icon-safe-space {
            width: 1em;
        }

        .bankai-button__icon {
            font-size: 1em;
        }

        .bankai-button__content-container {
            padding: bankai-to-rem($bankai-core-spacing-01-x);
        }
    }

    &__main-btn-container .bankai-button,
    .bankai-menu-button__button {
        border: none;

        &:active {
            transform: scale(1);
        }
    }

    .bankai-menu-button__menu {
        margin-top: 1px;
    }

    .bankai-menu-button__menu,
    .bankai-menu-button__menu-list-option:first-child .bankai-menu-button-option {
        border-top-left-radius: 0;
    }

    &--is-disabled {
        opacity: var(--bankai-semantic-state-disabled-opacity, $bankai-core-state-disabled-opacity);

        #{$this}__main-btn:disabled,
        .bankai-menu-button__button:disabled {
            opacity: 1;
        }
    }

    &--primary {
        border-color: var(--bankai-btn-split-primary-border-color, bankai-get-light-theme-map-value('btn-split-primary-border-color'));

        #{$this}__menu-btn-container {
            border-left-color: var(--bankai-btn-split-primary-border-color, bankai-get-light-theme-map-value('btn-split-primary-border-color'));
        }
    }

    &--secondary {
        border-color: var(--bankai-btn-split-secondary-border-color, bankai-get-light-theme-map-value('btn-split-secondary-border-color'));

        #{$this}__menu-btn-container {
            border-left-color: var(--bankai-btn-split-secondary-border-color, bankai-get-light-theme-map-value('btn-split-secondary-border-color'));
        }
    }

    &--primary-destructive {
        border-color: var(--bankai-btn-split-primary-destructive-border-clor, bankai-get-light-theme-map-value('btn-split-primary-destructive-border-clor'));

        #{$this}__menu-btn-container {
            border-left-color: var(--bankai-btn-split-primary-destructive-border-clor, bankai-get-light-theme-map-value('btn-split-primary-destructive-border-clor'));
        }
    }

    &--secondary-destructive {
        border-color: var(--bankai-btn-split-secondary-destructive-border-color, bankai-get-light-theme-map-value('btn-split-secondary-destructive-border-color'));

        #{$this}__menu-btn-container {
            border-left-color: var(--bankai-btn-split-secondary-destructive-border-color, bankai-get-light-theme-map-value('btn-split-secondary-destructive-border-color'));
        }
    }
}
