// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/vars/breakpoints.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-design-token-generator {
    flex-wrap: wrap;

    &__form-container .bankai-form-layout-field-container {
        @include layout.bankai-flex-row;
        min-width: 280px;
        flex: 0 1 auto;

        > * {
            min-width: 1px;
            flex: 1 1 auto;
            margin: auto 0;
        }
    }

    .bankai-color-picker-input__input {
        min-width: 1px;
        max-width: 7.8rem;
    }

    &__token-section-container {
        @include layout.bankai-flex-column;
        min-height: 1px;
        max-height: 100%;
        flex: 1 1 auto;
    }

    .bankai-sb-sticky-section--slim .bankai-sb-sticky-section__inner {
        box-sizing: border-box;

        .bankai-form-layout {
            max-width: 1440px;
            padding: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-08-x) 64px;
            margin: 0 auto;
        }

        @include layout.bankai-breakpoint-max-only(breakpoints.$bankai-s-min) {
            .bankai-form-layout {
                padding: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-08-x);
            }
        }
    }

    &__children-container + .bankai-sb-section {
        margin-top: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-04-x);
    }
}