// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-tabs-guide {
    .bankai-sb-tabs-guide-panel-content {
        box-sizing: border-box;
    }

    .bankai-tabs {
        &--fill-up,
        &--line-box,
        &--overline,
        &--pointer,
        &--underline {
            .bankai-sb-tabs-guide-panel-content {
                padding-top: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
            }
        }

        &--bar,
        &--flip,
        &--folder,
        &--overline-segmented,
        &--pointer-outline,
        &--traditional,
        &--traditional-gapped,
        &--underline-segmented {
            .bankai-sb-tabs-guide-panel-content {
                padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 8)} #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
            }
        }

        &--bar,
        &--overline-segmented,
        &--underline-segmented {
            .bankai-sb-tabs-guide-panel-content {
                border: 1px solid var(--bankai-color-tabs-border, bankai-light-theme('color-tabs-border'));
                border-top: none;
            }
        }

        &--is-vertical-tabs {
            &.bankai-tabs--fill-up,
            &.bankai-tabs--line-box,
            &.bankai-tabs--overline,
            &.bankai-tabs--pointer,
            &.bankai-tabs--underline {
                .bankai-sb-tabs-guide-panel-content {
                    padding-top: 0;
                    padding-left: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 4)};
                }
            }
        }
    }
}
