// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/vars/colors.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/vars/typography.scss';

.bankai-list-item {
    background-color: var(--bankai-canvas, $bankai-canvas);

    &__inner {
        box-sizing: border-box;
        padding: 1rem;
    }

    &__meta {
        color: var(--bankai-text-color-alt, $bankai-text-color-alt);
        font-size: var(--bankai-sub-text-size, $bankai-sub-text-size);
    }

    &__text,
    &__meta {
        @include bankai-max-line-width();
        line-height: $bankai-lineheight;
        margin: 0;
    }
}
