// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-list-item, %bankai-list-item {
    background-color: var(--bankai-core-color-canvas, bankai-light-theme('core-color-canvas'));

    &__inner {
        box-sizing: border-box;
        padding: #{bankai-to-rem(bankai-light-theme('core-system-scale') * 3)};
    }

    &__meta {
        color: var(--bankai-core-color-text-alt, bankai-light-theme('core-color-text-alt'));
        font-size: var(--bankai-core-typography-sub-text-font-size, bankai-light-theme('typography-sub-text-font-size'));
    }

    &__text,
    &__meta {
        @include bankai-max-line-width;
        line-height: var(--bankai-core-typography-line-height, bankai-light-theme('core-typography-line-height'));
        margin: 0;
    }
}
