// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-color-variants-grid-list {
    max-width: 465px;
    flex-wrap: wrap;
    box-shadow: none;
    align-self: flex-start;
    margin: auto;

    > :first-child,
    > :last-child {
        border-radius: 0;
    }

    &__color-variant {
        width: 155px;
    }

    &__color-variant-inner {
        padding: #{bankai-to-rem(bankai-light-theme('core-system-scale') * 3)} #{bankai-to-rem(bankai-light-theme('core-system-scale') * 2)} #{bankai-to-rem(bankai-light-theme('core-system-scale') * 2)};
    }

    &__color-variant-name {
        font-size: var(--bankai-core-typography-sub-text-font-size, bankai-light-theme('core-typography-sub-text-font-size'));
        font-style: italic;
    }

    &__color-variant-name,
    &__color-variant-desc {
        display: block;
        flex: 0 0 auto;
    }
}
