// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-color-swatch-simple {
    @include bankai-shadow-elevation-medium;
    width: 160px;
    min-height: 160px;
    box-sizing: border-box;
    border: 1px solid var(--bankai-core-color-universal-decorative-border, bankai-light-theme('core-color-universal-decorative-border'));
    border-radius: #{bankai-to-px(bankai-light-theme('core-system-scale') * 3)};
    $this: '.bankai-sb-color-swatch-simple';

    &__swatch-container {
        border-bottom: 1px solid var(--bankai-core-color-universal-decorative-border, bankai-light-theme('core-color-universal-decorative-border'));
    }

    &__swatch {
        height: 100px;
        border-radius: #{bankai-to-px((bankai-light-theme('core-system-scale') * 3) - 1px)} #{bankai-to-px((bankai-light-theme('core-system-scale') * 3) - 1px)} 0 0;
    }

    &__details-container {
        padding: #{bankai-to-rem(bankai-light-theme('core-system-scale') * 2)};
    }

    &__name-container {
        margin: 0;
    }

    &__name {
        font-weight: bold;
        margin: 0;
    }

    &__desc {
        color: var(--bankai-core-color-text-alt, bankai-light-theme('core-color-text-alt'));
        font-size: var(--bankai-core-typography-sub-text-font-size, bankai-light-theme('core-typography-sub-text-font-size'));
    }

    &__name,
    &__desc {
        margin: 0;
    }

    &__desc + &__desc {
        margin-top: #{bankai-to-px(bankai-light-theme('core-system-scale'))};
    }

    &__platform-icon {
        color: var(--bankai-core-color-text-alt, bankai-light-theme('core-color-text-alt'));
        font-size: var(--bankai-core-typography-headings-level5-font-size, bankai-light-theme('core-typography-headings-level5-font-size'));
    }

    &--has-platform {
        #{$this}__name-container {
            @include bankai-flex-row;
            gap: #{bankai-to-px(bankai-light-theme('core-system-scale') * 2)};
            justify-content: space-between;
        }
    }
}
