// ========================================================
// Dependencies
// ========================================================
@import 'react-toastify/dist/ReactToastify.css';
// @import '~@epr0t0type/bankai-lib-style-utils/src/styles/vars/breakpoints.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-toaster, %bankai-toaster {
    @include bankai-box-shadow-elevated;
    color: var(--bankai-color-toaster-text, bankai-light-theme('color-toaster-text'));
    background-color: var(--bankai-color-canvas, bankai-light-theme('color-canvas'));
    border-radius: var(--bankai-toaster-border-radius, bankai-light-theme('toaster-border-radius'));
    padding: 0;

    // stylelint-disable-next-line
    .Toastify__toast-body {
        padding: 0;
    }

    [class*='progress-bar'] {
        background: var(--bankai-color-toaster-progress-bar, bankai-light-theme('color-toaster-progress-bar'));
    }

    &__close-btn {
        color: inherit;
        background-color: transparent;
        align-self: flex-start;
        border-radius: 0 var(--bankai-toaster-border-radius, bankai-light-theme('toaster-border-radius')) 0 0;

        .bankai-button__content-container {
            padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base'))};
        }

        .bankai-button__icon {
            font-size: 1.4rem;
        }
    }

    &__content-container {
        @include bankai-flex-row;
    }

    &__icon-container {
        @include bankai-flex-row;
        width: 70px;
        min-height: 50px;
        flex: 0 0 auto;
    }

    &__icon-safe-space {
        width: 1em;
        height: 1em;
        font-size: 3rem;
        margin: auto;
    }

    &__icon {
        font-size: inherit;
    }

    &__icon-container,
    &__icon-safe-space,
    &__icon {
        line-height: 0;
    }

    &__msg-container {
        min-width: 1px;
        padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 2)};
        flex: 1 1 auto;
    }

    &__title {
        @include bankai-h5;
        font-weight: bold;
    }

    &__msg {
        @include bankai-max-line-width;
        line-height: var(--bankai-typography-line-height, bankai-light-theme('typography-line-height'));
        margin: 0;
    }

    &--error {
        color: var(--bankai-color-toaster-error-text, bankai-light-theme('color-toaster-error-text'));
        background-color: var(--bankai-color-toaster-error-bg, bankai-light-theme('color-toaster-error-bg'));

        [class*='progress-bar'] {
            background: var(--bankai-color-toaster-error-progress-bar, bankai-light-theme('color-toaster-error-progress-bar'));
        }
    }

    &--info {
        color: var(--bankai-color-toaster-info-text, bankai-light-theme('color-toaster-info-text'));
        background-color: var(--bankai-color-toaster-info-bg, bankai-light-theme('color-toaster-info-bg'));

        [class*='progress-bar'] {
            background: var(--bankai-color-toaster-info-progress-bar, bankai-light-theme('color-toaster-info-progress-bar'));
        }
    }

    &--success {
        color: var(--bankai-color-toaster-success-text, bankai-light-theme('color-toaster-success-text'));
        background-color: var(--bankai-color-toaster-success-bg, bankai-light-theme('color-toaster-success-bg'));

        [class*='progress-bar'] {
            background: var(--bankai-color-toaster-success-progress-bar, bankai-light-theme('color-toaster-success-progress-bar'));
        }
    }

    &--warning {
        color: var(--bankai-color-toaster-warning-text, bankai-light-theme('color-toaster-warning-text'));
        background-color: var(--bankai-color-toaster-warning-bg, bankai-light-theme('color-toaster-warning-bg'));

        [class*='progress-bar'] {
            background: var(--bankai-color-toaster-warning-progress-bar, bankai-light-theme('color-toaster-warning-progress-bar'));
        }
    }
}
