// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-collapsible-dt-section {
    background-color: var(--bankai-core-color-canvas-alt, bankai-light-theme('core-color-canvas-alt'));
    border-radius: #{bankai-to-px(bankai-light-theme('core-system-scale'))};
    border-bottom: none;
    overflow: hidden;

    &__content-container {
        padding: #{bankai-to-px(bankai-light-theme('core-system-scale'))} #{bankai-to-px(bankai-light-theme('core-system-scale') * 4)} #{bankai-to-px(bankai-light-theme('core-system-scale') * 4)} #{bankai-to-px(bankai-light-theme('core-system-scale') * 4)};
    }

    .bankai-heading + .bankai-sb-design-tokens-table {
        margin-top: 0;
    }
}
