// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/vars/colors.scss';
@import '../../mixins/mixins.scss';

.bankai-sb-component-preview {
    @include bankai-glass-mixin;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1.5rem;

    &--light-bg {
        background-color: $bankai-neutral-90;
    }
}
