// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/vars/colors.scss';

.bankai-sb-component-preview-with-code-block {
    // @include bankai-box-shadow-slightly-elevated;
    // border: 1px solid lighten($bankai-neutral-border-color, 10%);
    border-radius: 10px;
    // box-shadow: rgba($bankai-black, 0.1) 0 1px 3px 1px, rgba($bankai-black, 0.067) 0 0 0 1px;

    .bankai-sb-component-preview {
        // box-shadow: none;
        border: none;
        border-radius: 10px 10px 0 0;
    }

    .bankai-sb-code-block {
        box-shadow: none;
        border-radius: 0 0 10px 10px;
    }

    .bankai-sb-component-preview,
    .bankai-sb-code-block {
        width: 100%;
        box-sizing: border-box;
    }
}
