// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/effects.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';

.bankai-sb-component-preview-with-code-block {
    border: 1px solid var(--bankai-core-color-universal-decorative-border, bankai-light-theme('core-color-universal-decorative-border'));
    border-radius: #{bankai-to-px(bankai-light-theme('core-system-scale') * 3)};

    .bankai-sb-component-preview {
        border: none;
        border-radius: #{bankai-to-px((bankai-light-theme('core-system-scale') * 3) - 1px)} #{bankai-to-px((bankai-light-theme('core-system-scale') * 3) - 1px)} 0 0;
    }

    .bankai-sb-code-block {
        box-shadow: none;
        border-radius: 0 0 #{bankai-to-px((bankai-light-theme('core-system-scale') * 3) - 1px)} #{bankai-to-px((bankai-light-theme('core-system-scale') * 3) - 1px)};
    }

    .bankai-sb-component-preview,
    .bankai-sb-code-block {
        width: 100%;
        box-sizing: border-box;
    }
}
