// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-copy-token-value-btn {
    color: var(--bankai-semantic-color-text-alt, theme-utils.bankai-get-light-theme-map-value('semantic-color-text-alt'));
    border-radius: var(--bankai-button-border-radius, theme-utils.bankai-get-light-theme-map-value('button-border-radius'));

    .bankai-button {
        &__content-container {
            padding: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-02-x);
        }
            
        &__content-container,
        &__icon-container,
        &__icon-container-safe-space,
        &__icon-container-inner {
            display: block;
        }
    }

    &--copied {
        color: var(--bankai-banner-affirmative-icon-color, theme-utils.bankai-get-light-theme-map-value('banner-affirmative-icon-color'));
        background-color: var(--bankai-banner-affirmative-bg-color, theme-utils.bankai-get-light-theme-map-value('banner-affirmative-bg-color'));
    }
}