// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';

.bankai-form-layout-row, %bankai-form-layout-row {
    @include bankai-flex-row;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: bankai-to-rem($bankai-core-spacing-05-x);

    > .bankai-form-layout-field-container {
        flex: 1 1 auto;
    }
}
