// ========================================================
// Dependencies
// ========================================================

.bankai-form-layout-section {
    box-sizing: border-box;

    &__content-container {
        box-sizing: border-box;

        > .bankai-form-layout-field-container + .bankai-form-layout-field-container,
        > .bankai-form-layout-field-container + .bankai-form-layout-row,
        > .bankai-form-layout-row + .bankai-form-layout-field-container {
            margin-top: 20px;
        }
    }
}
