// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';

.bankai-form-layout-row {
    @include bankai-flex-row;
    box-sizing: border-box;

    > .bankai-form-layout-field-container {
        flex: 1 1 auto;
    }

    > .bankai-form-layout-field-container + .bankai-form-layout-field-container {
        margin-left: 15px;
        margin-top: 0;
    }
}
