// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/effects.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-tile, %bankai-tile {
    @include effects.bankai-shadow-elevation-low;
    background-color: var(--bankai-semantic-color-canvas, theme-utils.bankai-get-light-theme-map-value('semantic-color-canvas'));
    border-radius: var(--bankai-tile-border-radius, theme-utils.bankai-get-light-theme-map-value('tile-border-radius'));

    // &__heading-container {
    //     border-bottom: var(--bankai-tile-heading-border-width, theme-utils.bankai-get-light-theme-map-value('tile-heading-border-width')) solid var(--bankai-semantic-color-decorative-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-decorative-border'));
    // }

    &__heading-container,
    &__content-container,
    &__content-container-inner {
        box-sizing: border-box;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &__heading {
        @include typography.bankai-h5;
        font-weight: var(--bankai-tile-heading-font-weight, theme-utils.bankai-get-light-theme-map-value('tile-heading-font-weight'));
        font-style: var(--bankai-tile-heading-font-style, theme-utils.bankai-get-light-theme-map-value('tile-heading-font-style'));
    }

    &__heading-container,
    &--pad-content &__content-container-inner {
        padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-03-x) unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-04-x);
    }
}
