// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-radii-vars.scss' as radii-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-comp-preview-with-ops {
    @include layout.bankai-flex-row;
    border: 1px solid var(--bankai-semantic-color-decorative-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-decorative-border'));
    border-radius: unit-conversion-utils.bankai-to-px(radii-vars.$bankai-core-radius-01-x);

    &__preview-container {
        @include layout.bankai-flex-row;
        min-width: 1px;
        border: 0;
        flex: 1 1 auto;

        > * {
            margin: auto;
        }
    }

    &__ops-container {
        box-sizing: border-box;
        padding: unit-conversion-utils.bankai-to-px(spacing-vars.$bankai-core-spacing-04-x);
        flex: 0 0 auto;
    }

    &:has(&__ops-container) &__preview-container {
        border-right: 1px solid var(--bankai-semantic-color-decorative-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-decorative-border'));
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
