// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-radii-vars.scss' as radii-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;

.bankai-sb-code-tag {
    background-color: var(--bankai-semantic-color-decorative-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-decorative-border'));
    border-radius: unit-conversion-utils.bankai-to-px(radii-vars.$bankai-core-radius-01-x);
    box-sizing: border-box;
    padding: 0 unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-01-x);
    display: inline-block;
}
