// ========================================================
// Dependencies
// ========================================================
@use 'sass:color';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './rw-styles.scss';

@mixin bankai-rw-focus-state-halo($color: var(--bankai-color-universal-focus-halo, color.change(bankai-light-theme('color-black'), $alpha: 0.4))) {
    @include bankai-focus-state-box-shadow($color);
    border-color: var(--bankai-color-universal-border, bankai-light-theme('color-universal-border'));
    transition: box-shadow 0.15s ease-in-out;
}

@mixin bankai-rw-list-option() {
    box-sizing: border-box;
    line-height: var(--bankai-typography-line-height, bankai-light-theme('typography-line-height'));
    padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 2)};

    &.rw-state-focus:not(.rw-state-selected),
    &:not(.rw-state-selected):hover {
        background-color: var(--bankai-color-universal-hover-bg, bankai-light-theme('color-universal-hover-bg'));
    }

    &.rw-state-selected {
        color: var(--bankai-color-form-menu-selected-state-text, bankai-light-theme('color-form-menu-selected-state-text'));
        background-color: var(--bankai-color-form-menu-selected-state-bg, bankai-light-theme('color-form-menu-selected-state-bg'));
        border-color: var(--bankai-color-form-menu-selected-state-bg, bankai-light-theme('color-form-menu-selected-state-bg'));

        &.rw-state-focus {
            color: var(--bankai-color-form-menu-selected-state-focus-text, bankai-light-theme('color-form-menu-selected-state-focus-text'));
            background-color: var(--bankai-color-form-menu-selected-state-focus-bg, bankai-light-theme('color-form-menu-selected-state-focus-bg'));
            border-color: var(--bankai-color-form-menu-selected-state-focus-bg, bankai-light-theme('color-form-menu-selected-state-focus-bg'));
        }
    }
}

@mixin bankai-rw-list() {
    padding-top: 0;
    padding-bottom: 0;

    > :first-child {
        border-radius: calc(var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius')) - 1px) calc(var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius')) - 1px) 0 0;
    }

    > :last-child {
        border-radius: 0 0 calc(var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius')) - 1px) calc(var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius')) - 1px);
    }
}

@mixin bankai-rw-list-empty() {
    color: var(--bankai-color-text-alt, bankai-light-theme('color-text-alt'));
    font-style: italic;
    padding: #{bankai-to-rem(bankai-light-theme('layout-grid-base') * 2)};
}
