// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './mixins.scss';
@import './rw-styles.scss';

.bankai-date-picker, %bankai-date-picker {
    display: inline-block;

    &.rw-widget {
        color: var(--bankai-form-input-text-color, bankai-light-theme('form-input-text-color'));
    }

    .rw-widget-picker {
        border-radius: var(--bankai-form-input-border-radius, bankai-light-theme('form-input-border-radius'));
    }

    .rw-popup {
        background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
        border: 1px solid var(--bankai-core-color-universal-accessible-border, bankai-light-theme('core-color-universal-accessible-border'));
        border-radius: var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius'));
    }

    .rw-calendar-grid {
        color: var(--bankai-form-input-text-color, bankai-light-theme('form-input-text-color'));
        background-color: transparent;
    }

    > .rw-widget-picker {
        @include bankai-flex-row;
        background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
        border-color: var(--bankai-core-color-universal-accessible-border, bankai-light-theme('core-color-universal-accessible-border'));
    }

    &.rw-state-focus .rw-widget-picker {
        @include bankai-rw-focus-state-halo;
    }

    .rw-picker-btn {
        width: 30px;
        color: var(--bankai-core-color-text-alt, bankai-light-theme('core-color-text-alt'));
        background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
        border-left-color: var(--bankai-core-color-universal-accessible-border, bankai-light-theme('core-color-universal-accessible-border'));
        flex: 0 0 auto;

        &.rw-input-addon {
            border-left-color: var(--bankai-core-color-universal-accessible-border, bankai-light-theme('core-color-universal-accessible-border'));
        }

        &:active {
            background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--bankai-core-color-universal-hover-bg, bankai-light-theme('core-color-universal-hover-bg'));
            }
        }
    }

    > .rw-widget-picker > .rw-picker-btn {
        line-height: 1;
    }

    &__select-icon {
        font-size: 14px;

        .bankai-icon {
            line-height: 1;
        }
    }

    .rw-cell {
        color: var(--bankai-form-input-text-color, bankai-light-theme('form-input-text-color'));
        border-radius: var(--bankai-form-input-border-radius, bankai-light-theme('form-input-border-radius'));

        @media (hover: hover) {
            &:hover {
                background-color: var(--bankai-core-color-universal-hover-bg, bankai-light-theme('core-color-universal-hover-bg'));
            }
        }

        &.rw-state-selected {
            color: var(--bankai-form-menu-selected-text-color, bankai-light-theme('form-menu-selected-text-color'));
            background-color: var(--bankai-form-menu-selected-bg-color, bankai-light-theme('form-menu-selected-bg-color'));
            border: none;
        }
    }

    .rw-calendar-btn {
        border-radius: var(--bankai-form-input-border-radius, bankai-light-theme('form-input-border-radius'));

        @media (hover: hover) {
            &:hover {
                background-color: var(--bankai-core-color-universal-hover-bg, bankai-light-theme('core-color-universal-hover-bg'));
            }
        }
    }

    .rw-calendar-btn:focus,
    .rw-cell:focus {
        @include bankai-focus-state-halo;
    }

    .rw-cell-off-range {
        color: var(--bankai-form-date-picker-off-range-text-color, bankai-light-theme('form-date-picker-off-range-text-color'));
    }

    .rw-widget-input {
        min-width: 1px;
        color: var(--bankai-form-input-text-color, bankai-light-theme('form-input-text-color'));
        background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
        text-overflow: ellipsis;
        line-height: var(--bankai-core-typography-line-height, bankai-light-theme('core-typography-line-height'));
        padding: bankai-light-theme('form-input-padding');
        flex: 1 1 auto;

        &::placeholder {
            color: var(--bankai-form-input-placeholder-text, bankai-light-theme('form-input-placeholder-text'));
            font-style: bankai-light-theme('form-input-placeholder-font-style');
        }
    }

    .rw-widget {
        color: var(--bankai-core-color-text, bankai-light-theme('core-color-text'));
    }

    &.rw-state-disabled,
    fieldset:disabled &,
    .rw-cell:disabled,
    .rw-cell.rw-state-disabled,
    .rw-calendar-btn:disabled,
    .rw-calendar-btn.rw-state-disabled {
        opacity: bankai-light-theme('state-disabled-opacity');
    }

    &--error {
        &.rw-state-focus .rw-widget-picker {
            @include bankai-focus-state-box-shadow(var(--bankai-form-input-error-focus-halo-color, bankai-light-theme('form-input-error-focus-halo-color')));
        }

        .rw-widget-container,
        &.rw-state-focus .rw-widget-picker {
            background-color: var(--bankai-form-input-error-bg-color, bankai-light-theme('form-input-error-bg-color'));
            border-color: var(--bankai-form-input-error-border-color, bankai-light-theme('form-input-error-border-color'));
        }

        .rw-widget-input {
            background-color: var(--bankai-form-input-error-bg-color, bankai-light-theme('form-input-error-bg-color'));
        }

        .rw-input-addon.rw-picker-btn {
            background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
            border-color: var(--bankai-form-input-error-border-color, bankai-light-theme('form-input-error-border-color'));
        }
    }
}
