// ========================================================
// Dependencies
// ========================================================
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/animations.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss';
@import '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-state-vars.scss';
@import './mixins.scss';
@import './rw-styles.scss';

.bankai-dropdown, %bankai-dropdown {
    @include bankai-floating-label-fix;
    width: initial;
    display: inline-block;
    $this: '.bankai-dropdown';

    &.rw-widget {
        @include bankai-form-input-font-size;
    }

    &.rw-widget,
    .rw-widget-input {
        color: var(--bankai-form-input-text-color, bankai-get-light-theme-map-value('form-input-text-color'));
    }

    .rw-widget-picker {
        min-height: bankai-to-px($bankai-core-system-scale * 8);
        border-radius: var(--bankai-form-input-border-radius, bankai-get-light-theme-map-value('form-input-border-radius'));
    }

    .rw-popup {
        background-color: var(--bankai-form-input-bg-color, bankai-get-light-theme-map-value('form-input-bg-color'));
        border: 1px solid var(--bankai-semantic-color-universal-accessible-border, bankai-get-light-theme-map-value('semantic-color-universal-accessible-border'));
        border-radius: var(--bankai-form-menu-border-radius, bankai-get-light-theme-map-value('form-menu-border-radius'));
    }

    // &.rw-state-focus .rw-widget-picker {
    //     @include bankai-rw-focus-state-halo(var(--bankai-form-input-focus-color-halo, bankai-get-light-theme-map-value('form-input-focus-color-halo')));
    //     border-color: var(--bankai-form-input-focus-color-border, bankai-get-light-theme-map-value('form-input-focus-color-border'));
    // }

    .rw-placeholder {
        color: var(--bankai-form-input-placeholder-text-color, bankai-get-light-theme-map-value('form-input-placeholder-text-color'));
        // font-style: var(--bankai-form-input-placeholder-font-style, bankai-get-light-theme-map-value('form-input-placeholder-font-style'));
        flex: 0 0 auto;
    }
    
    &__busy-icon {
        @include bankai-rotate-infinite;
    }

    &__busy-icon,
    &__select-icon {
        color: var(--bankai-semantic-color-text-alt, bankai-get-light-theme-map-value('semantic-color-text-alt'));
        font-size: 20px;
    }

    .bankai-loading-dots__dot {
        background-color: currentColor;
    }

    .rw-widget-container {
        @include bankai-flex-row;
        border-color: var(--bankai-semantic-color-universal-accessible-border, bankai-get-light-theme-map-value('semantic-color-universal-accessible-border'));
    }

    .rw-dropdown-list-value {
        line-height: var(--bankai-semantic-typography-line-height, bankai-get-light-theme-map-value('semantic-typography-line-height'));
    }

    .rw-picker-caret {
        width: 30px;
        color: var(--bankai-semantic-color-text, bankai-get-light-theme-map-value('semantic-color-text'));
        background-color: var(--bankai-form-input-bg-color, bankai-get-light-theme-map-value('form-input-bg-color'));
        flex: 0 0 auto;
    }

    .rw-dropdown-list-input {
        background-color: var(--bankai-form-input-bg-color, bankai-get-light-theme-map-value('form-input-bg-color'));
        text-overflow: ellipsis;
        padding: bankai-to-rem($bankai-core-spacing-02-x);
        flex: 1 1 auto;
    }

    &.rw-state-disabled {
        opacity: var(--bankai-semantic-state-disabled-opacity, $bankai-core-state-disabled-opacity);

        .rw-picker-caret,
        .rw-dropdown-list-input {
            background-color: transparent;
        }

        .rw-placeholder {
            color: var(--bankai-form-input-disabled-placeholder-text-color, bankai-get-light-theme-map-value('form-input-disabled-placeholder-text-color'));
        }

        > .rw-widget-picker {
            background-color: var(--bankai-form-input-disabled-bg-color, bankai-get-light-theme-map-value('form-input-disabled-bg-color'));
        }
    }

    &--no-filter:not(.rw-state-disabled):hover {
        cursor: pointer;
    }

    .rw-list {
        @include bankai-rw-list;
    }

    .rw-list-option {
        @include bankai-rw-list-option;
        color: var(--bankai-form-input-text-color, bankai-get-light-theme-map-value('form-input-text-color'));

        @media (hover: hover) {
            &:hover {
                border-color: transparent;
            }
        }
    }

    &[data-intent='keyboard'] .rw-list-option.rw-state-focus:not(.rw-state-selected) {
        border-color: transparent;
    }

    .rw-list-empty {
        @include bankai-rw-list-empty;
    }

    &--error {
        // &.rw-state-focus .rw-widget-picker {
        //     @include bankai-focus-state-box-shadow(var(--bankai-form-input-error-focus-color-halo, bankai-get-light-theme-map-value('form-input-error-focus-color-halo')));
        // }

        // stylelint-disable-next-line no-descending-specificity
        .rw-picker-caret,
        .rw-dropdown-list-input {
            background-color: var(--bankai-form-input-error-bg-color, bankai-get-light-theme-map-value('form-input-error-bg-color'));
        }

        #{$this}__select-icon {
            color: var(--bankai-form-input-error-placeholder-text-color, bankai-get-light-theme-map-value('form-input-error-placeholder-text-color'));
        }

        .rw-widget-container,
        &.rw-state-focus .rw-widget-picker {
            background-color: var(--bankai-form-input-error-bg-color, bankai-get-light-theme-map-value('form-input-error-bg-color'));
            border-color: var(--bankai-form-input-error-border-color, bankai-get-light-theme-map-value('form-input-error-border-color'));
        }

        // stylelint-disable-next-line no-descending-specificity
        .rw-placeholder {
            color: var(--bankai-form-input-error-placeholder-text-color, bankai-get-light-theme-map-value('form-input-error-placeholder-text-color'));
        }
    }
}
