// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/animations.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './mixins.scss';
@import './rw-styles.scss';

.bankai-dropdown, %bankai-dropdown {
    width: initial;
    display: inline-block;

    &.rw-widget,
    .rw-widget-input {
        color: var(--bankai-color-form-input-text, bankai-light-theme('color-form-input-text'));
    }

    .rw-widget-picker {
        border-radius: var(--bankai-form-input-border-radius, bankai-light-theme('form-input-border-radius'));
    }

    .rw-popup {
        background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
        border: 1px solid var(--bankai-core-color-universal-accessible-border, bankai-light-theme('core-color-universal-accessible-border'));
        border-radius: var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius'));
    }

    &.rw-state-focus .rw-widget-picker {
        @include bankai-rw-focus-state-halo;
    }

    .rw-placeholder {
        color: var(--bankai-form-input-placeholder-text, bankai-light-theme('form-input-placeholder-text'));
        font-style: bankai-light-theme('form-input-placeholder-font-style');
        flex: 0 0 auto;
    }

    &__busy-spinner {
        @include bankai-rotate-infinite;
        display: inline-block;
    }

    .rw-widget-container {
        @include bankai-flex-row;
        border-color: var(--bankai-core-color-universal-accessible-border, bankai-light-theme('core-color-universal-accessible-border'));
    }

    .rw-dropdown-list-value {
        line-height: var(--bankai-core-typography-line-height, bankai-light-theme('core-typography-line-height'));
    }

    &.rw-state-disabled {
        opacity: bankai-light-theme('state-disabled-opacity');

        > .rw-widget-picker {
            background-color: var(--bankai-form-input-disabled-bg-color, bankai-light-theme('form-input-disabled-bg-color'));
        }
    }

    .rw-dropdown-list-input {
        background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
        text-overflow: ellipsis;
        padding: bankai-light-theme('form-input-padding');
        flex: 1 1 auto;
    }

    .rw-picker-caret {
        width: 30px;
        color: var(--bankai-core-color-text, bankai-light-theme('core-color-text'));
        background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
        flex: 0 0 auto;
    }

    &--no-filter:not(.rw-state-disabled):hover {
        cursor: pointer;
    }

    .rw-list {
        @include bankai-rw-list;
    }

    .rw-list-option {
        @include bankai-rw-list-option;
        color: var(--bankai-color-form-input-text, bankai-light-theme('color-form-input-text'));

        @media (hover: hover) {
            &:hover {
                border-color: transparent;
            }
        }
    }

    &[data-intent='keyboard'] .rw-list-option.rw-state-focus:not(.rw-state-selected) {
        border-color: transparent;
    }

    .rw-list-empty {
        @include bankai-rw-list-empty;
    }

    &--error {
        &.rw-state-focus .rw-widget-picker {
            @include bankai-focus-state-box-shadow(var(--bankai-form-input-error-focus-halo-color, bankai-light-theme('form-input-error-focus-halo-color')));
        }

        .rw-widget-container,
        &.rw-state-focus .rw-widget-picker {
            background-color: var(--bankai-form-input-error-bg-color, bankai-light-theme('form-input-error-bg-color'));
            border-color: var(--bankai-form-input-error-border-color, bankai-light-theme('form-input-error-border-color'));
        }

        .rw-placeholder {
            color: var(--bankai-form-input-error-placeholder-text-color, bankai-light-theme('form-input-error-placeholder-text-color'));
        }
    }
}
