// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-ui-style-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-ui-style-utils/src/styles/vars/typography.scss';
@import '~@epr0t0type/bankai-ui-theme-utils/src/styles/vars/colors.scss';
@import './rw-styles.scss';

@mixin bankai-rw-focus-state-halo($color: rgba($bankai-black, 0.4)) {
    @include bankai-focus-state-box-shadow($color);
    border-color: var(--bankai-form-input-border-color, $bankai-form-input-border-color);
    transition: box-shadow 0.15s ease-in-out;
}

@mixin bankai-rw-list-option() {
    box-sizing: border-box;
    line-height: $bankai-lineheight;
    padding: 0.8rem 1rem;

    &.rw-state-focus:not(.rw-state-selected),
    &:not(.rw-state-selected):hover {
        background-color: $bankai-gray-90;
    }

    &.rw-state-selected {
        color: var(--bankai-form-menu-selected-state-text-color, $bankai-form-menu-selected-state-text-color);
        background-color: var(--bankai-form-menu-selected-state-bg-color, $bankai-form-menu-selected-state-bg-color);
        border-color: var(--bankai-form-menu-selected-state-bg-color, $bankai-form-menu-selected-state-bg-color);

        &.rw-state-focus {
            color: var(--bankai-form-menu-selected-state-focus-text-color, $bankai-form-menu-selected-state-focus-text-color);
            background-color: var(--bankai-form-menu-selected-state-focus-bg-color, $bankai-form-menu-selected-state-focus-bg-color);
            border-color: var(--bankai-form-menu-selected-state-focus-bg-color, $bankai-form-menu-selected-state-focus-bg-color);
        }
    }
}

@mixin bankai-rw-list-empty() {
    color: $bankai-text-color-alt;
    font-style: italic;
    padding: 0.8rem 1rem;
}
