// ========================================================
// Dependencies
// ========================================================
@use 'sass:math';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/animations.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './mixins.scss';
@import './rw-styles.scss';

.bankai-multiselect, %bankai-multiselect {
    display: inline-block;

    &.rw-widget {
        color: inherit;
    }

    .rw-widget-picker {
        border-radius: var(--bankai-form-input-border-radius, bankai-light-theme('form-input-border-radius'));
        border-color: var(--bankai-core-color-universal-accessible-border, bankai-light-theme('core-color-universal-accessible-border'));
    }

    .rw-popup {
        background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
        border: 1px solid var(--bankai-core-color-universal-accessible-border, bankai-light-theme('core-color-universal-accessible-border'));
        border-radius: var(--bankai-form-menu-border-radius, bankai-light-theme('form-menu-border-radius'));
    }

    &.rw-state-focus .rw-widget-picker {
        @include bankai-rw-focus-state-halo;
    }

    .rw-widget-input {
        background-color: var(--bankai-form-input-bg-color, bankai-light-theme('form-input-bg-color'));
    }

    .rw-multiselect-input {
        line-height: bankai-light-theme('core-typography-line-height');
        padding: 0 #{bankai-to-rem(bankai-light-theme('core-system-scale') * 2)};

        &::placeholder {
            color: var(--bankai-form-input-placeholder-text, bankai-light-theme('form-input-placeholder-text'));
            font-style: bankai-light-theme('form-input-placeholder-font-style');
            flex: 0 0 auto;
        }
    }

    .rw-picker-caret {
        color: var(--bankai-core-color-text, bankai-light-theme('core-color-text'));
    }

    &__busy-spinner {
        @include bankai-rotate-infinite;
        display: inline-block;
    }

    &__clear-tag-icon {
        vertical-align: middle;
        font-size: 14px;
    }

    &.rw-state-disabled {
        opacity: bankai-light-theme('state-disabled-opacity');

        > .rw-widget-picker {
            background-color: var(--bankai-form-input-disabled-bg-color, bankai-light-theme('form-input-disabled-bg-color'));
        }
    }

    .rw-multiselect-taglist {
        padding: #{bankai-to-rem(math.div(bankai-light-theme('core-system-scale'), 2))} #{bankai-to-rem(bankai-light-theme('core-system-scale'))};
        // padding: #{bankai-to-rem(bankai-light-theme('core-system-scale') / 2)} #{bankai-to-rem(bankai-light-theme('core-system-scale'))};
    }

    .rw-multiselect-tag {
        color: var(--bankai-form-pill-text-color, bankai-light-theme('form-pill-text-color'));
        background-color: var(--bankai-form-pill-bg-color, bankai-light-theme('form-pill-bg-color'));
        border-radius: var(--bankai-form-pill-border-radius, calc(bankai-light-theme('form-input-border-radius') - 1px));
        border-color: var(--bankai-form-pill-bg-color, bankai-light-theme('form-pill-bg-color'));
        user-select: none;
    }

    .rw-multiselect-tag-btn {
        @include bankai-flex-row;

        .bankai-icon {
            margin: auto;
            line-height: 1;
        }
    }

    .rw-multiselect-tag-label {
        line-height: bankai-light-theme('core-typography-line-height');
    }

    .rw-list {
        @include bankai-rw-list;
    }

    .rw-list-option {
        @include bankai-rw-list-option;
        color: inherit;

        @media (hover: hover) {
            &:hover {
                border-color: transparent;
            }
        }
    }

    .rw-list-empty {
        @include bankai-rw-list-empty;
    }

    &--error {
        &.rw-state-focus .rw-widget-picker {
            @include bankai-focus-state-box-shadow(var(--bankai-form-input-error-focus-halo-color, bankai-light-theme('form-input-error-focus-halo-color')));
        }

        .rw-widget-container,
        &.rw-state-focus > .rw-widget-container {
            background-color: var(--bankai-form-input-error-bg-color, bankai-light-theme('form-input-error-bg-color'));
            border-color: var(--bankai-form-input-error-border-color, bankai-light-theme('form-input-error-border-color'));
        }

        .rw-multiselect-input {
            &::placeholder {
                color: var(--bankai-form-input-error-placeholder-text-color, bankai-light-theme('form-input-error-placeholder-text-color'));
            }
        }
    }
}
