// ========================================================
// Dependencies
// ========================================================
@use '@driponfleek/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@use '@driponfleek/bankai-lib-style-utils/src/styles/utils/unit-conversion-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/mixins/typography.scss';
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-scales-vars.scss' as scales-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-spacing-vars.scss' as spacing-vars;
@use '@driponfleek/bankai-lib-theme-utils/src/styles/vars/core-state-vars.scss' as state-vars;
@use './mixins.scss' as form-elements-rw-mixins;
@use './rw-styles.scss';

.bankai-number-picker, %bankai-number-picker {
    @include form-elements-rw-mixins.bankai-floating-label-fix;
    display: inline-block;
    $this: '.bankai-number-picker';

    &.rw-widget {
        @include typography.bankai-form-input-font-size;
        color: var(--bankai-form-input-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-text-color'));
    }

    .rw-widget-picker {
        @include layout.bankai-flex-row;
        min-height: unit-conversion-utils.bankai-to-px(scales-vars.$bankai-core-system-scale * 8);
        border-radius: var(--bankai-form-input-border-radius, theme-utils.bankai-get-light-theme-map-value('form-input-border-radius'));
        gap: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-02-x);
    }

    &.rw-state-focus .rw-widget-picker {
        @include form-elements-rw-mixins.bankai-rw-focus-state-halo(var(--bankai-form-input-focus-halo-inner-color, theme-utils.bankai-get-light-theme-map-value('form-input-focus-halo-inner-color')), var(--bankai-form-input-focus-halo-outer-color, theme-utils.bankai-get-light-theme-map-value('form-input-focus-halo-outer-color')));
        border-color: var(--bankai-form-input-focus-halo-inner-color, theme-utils.bankai-get-light-theme-map-value('form-input-focus-halo-inner-color'));
    }

    .rw-number-picker-spinners {
        width: 30px;
        border-left: none;
        flex: 0 0 auto;
    }

    .rw-widget-input {
        width: initial;
        color: var(--bankai-form-input-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-text-color'));
        background-color: var(--bankai-form-input-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-bg-color'));
        max-width: initial;
        min-width: 1px;
        line-height: var(--bankai-semantic-typography-line-height, theme-utils.bankai-get-light-theme-map-value('semantic-typography-line-height'));
        text-align: right;
        text-overflow: ellipsis;
        padding: unit-conversion-utils.bankai-to-rem(spacing-vars.$bankai-core-spacing-02-x);
        display: block;
        flex: 1 1 auto;

        &::placeholder {
            color: var(--bankai-form-input-placeholder-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-placeholder-text-color'));
            // font-style: var(--bankai-form-input-placeholder-font-style, theme-utils.bankai-get-light-theme-map-value('form-input-placeholder-font-style'));
        }
    }

    .rw-picker-btn {
        color: var(--bankai-semantic-color-text, theme-utils.bankai-get-light-theme-map-value('semantic-color-text'));
        background-color: var(--bankai-form-input-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-bg-color'));

        @media (hover: hover) {
            &:enabled:hover {
                background-color: var(--bankai-semantic-color-hover-bg, theme-utils.bankai-get-light-theme-map-value('semantic-color-hover-bg'));

                #{$this}__increment-icon,
                #{$this}__decrement-icon {
                    color: var(--bankai-semantic-color-text, theme-utils.bankai-get-light-theme-map-value('semantic-color-text'));
                }
            }
        }
    }

    .rw-widget-container {
        border-color: var(--bankai-semantic-color-accessible-border, theme-utils.bankai-get-light-theme-map-value('semantic-color-accessible-border'));
    }

    &.rw-state-disabled,
    fieldset:disabled & {
        opacity: var(--bankai-semantic-state-disabled-opacity, state-vars.$bankai-core-state-disabled-opacity);

        // stylelint-disable-next-line no-descending-specificity
        .rw-widget-input {
            background-color: transparent;
        }

        // stylelint-disable-next-line no-descending-specificity
        > .rw-widget-picker {
            background-color: var(--bankai-form-input-disabled-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-disabled-bg-color'));
        }

        // stylelint-disable-next-line no-descending-specificity
        .rw-number-picker-spinners, .rw-picker-btn {
            background-color: transparent;
        }
    }

    &__increment-icon,
    &__decrement-icon {
        color: var(--bankai-semantic-color-text-alt, theme-utils.bankai-get-light-theme-map-value('semantic-color-text-alt'));
        font-size: 16px;
    }

    &--error {
        // stylelint-disable-next-line no-descending-specificity
        &.rw-state-focus .rw-widget-picker {
            @include form-elements-rw-mixins.bankai-rw-focus-state-halo(var(--bankai-form-input-error-focus-halo-inner-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-focus-halo-inner-color')), var(--bankai-form-input-error-focus-halo-outer-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-focus-halo-outer-color')));
        }

        // stylelint-disable-next-line no-descending-specificity
        .rw-picker-btn {
            background-color: var(--bankai-form-input-error-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-bg-color'));

            @media (hover: hover) {
                &:hover {
                    background-color: transparent;
                }
            }

            #{$this}__decrement-icon,
            #{$this}__increment-icon {
                color: var(--bankai-form-input-error-placeholder-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-placeholder-text-color'));
            }
        }

        // stylelint-disable-next-line no-descending-specificity
        .rw-widget-container, &.rw-state-focus .rw-widget-container, .rw-number-picker-spinners {
            border-color: var(--bankai-form-input-error-border-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-border-color'));
        }

        // stylelint-disable-next-line no-descending-specificity
        .rw-widget-input {
            background-color: var(--bankai-form-input-error-bg-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-bg-color'));

            &::placeholder {
                color: var(--bankai-form-input-error-placeholder-text-color, theme-utils.bankai-get-light-theme-map-value('form-input-error-placeholder-text-color'));
            }
        }
    }
}
