// ========================================================
// Dependencies
// ========================================================
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/animations.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/layout.scss';
@import '~@epr0t0type/bankai-lib-style-utils/src/styles/mixins/resets.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/mixins/states.scss';
@import '~@epr0t0type/bankai-lib-theme-utils/src/styles/utils/theme-utils.scss';
@import './mixins.scss';
@import './rw-styles.scss';

.bankai-number-picker, %bankai-number-picker {
    display: inline-block;

    &.rw-widget {
        color: var(--bankai-color-form-input-text, bankai-light-theme('color-form-input-text'));
    }

    .rw-widget-picker {
        @include bankai-flex-row;
        border-radius: var(--bankai-form-input-border-radius, bankai-light-theme('form-input-border-radius'));
    }

    &.rw-state-focus .rw-widget-picker {
        @include bankai-rw-focus-state-halo;
    }

    .rw-number-picker-spinners {
        width: 30px;
        flex: 0 0 auto;
    }

    .rw-widget-input {
        width: initial;
        color: var(--bankai-color-form-input-text, bankai-light-theme('color-form-input-text'));
        background-color: var(--bankai-color-form-input-bg, bankai-light-theme('color-form-input-bg'));
        max-width: initial;
        min-width: 1px;
        line-height: var(--bankai-typography-line-height, bankai-light-theme('typography-line-height'));
        text-overflow: ellipsis;
        padding: bankai-light-theme('form-input-padding');
        display: block;
        flex: 1 1 auto;

        &::placeholder {
            color: var(--bankai-color-form-input-placeholder-text, bankai-light-theme('color-form-input-placeholder-text'));
            font-style: bankai-light-theme('form-input-placeholder-font-style');
        }
    }

    .rw-picker-btn {
        color: var(--bankai-color-text, bankai-light-theme('color-text'));
        background-color: var(--bankai-color-form-input-bg, bankai-light-theme('color-form-input-bg'));

        @media (hover: hover) {
            &:hover {
                background-color: var(--bankai-color-universal-hover-bg, bankai-light-theme('color-universal-hover-bg'));
            }
        }
    }

    .rw-widget-container,
    .rw-number-picker-spinners {
        border-color: var(--bankai-color-universal-border, bankai-light-theme('color-universal-border'));
    }

    &.rw-state-disabled {
        opacity: bankai-light-theme('state-disabled-opacity');
        background-color: var(--bankai-color-form-input-disabled-bg, bankai-light-theme('color-form-input-disabled-bg'));
    }

    &--error {
        &.rw-state-focus .rw-widget-picker {
            @include bankai-focus-state-box-shadow(var(--bankai-color-form-input-error-focus-halo, bankai-light-theme('color-form-input-error-focus-halo')));
        }

        .rw-widget-container,
        &.rw-state-focus .rw-widget-container,
        .rw-number-picker-spinners {
            border-color: var(--bankai-color-form-input-error-border, bankai-light-theme('color-form-input-error-border'));
        }

        .rw-widget-input {
            background-color: var(--bankai-color-form-input-error-bg, bankai-light-theme('color-form-input-error-bg'));

            &::placeholder {
                color: var(--bankai-color-form-input-error-placeholder-text, bankai-light-theme('color-form-input-error-placeholder-text'));
            }
        }
    }
}
